#
# fpga.ucf: UCF for FPGA XC2VP20-30(FF896) in design COMBO4SFPRO 1.0
# Copyright (C) 2005  CESNET
# Authors: Rudolf Cejka <cejkar@fit.vutbr.cz>
#			  Tomas Filip <flipflop@liberouter.org>
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1. Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in
#    the documentation and/or other materials provided with the
#    distribution.
# 3. Neither the name of the Company nor the names of its contributors
#    may be used to endorse or promote products derived from this
#    software without specific prior written permission.
#
# This software is provided ``as is'', and any express or implied
# warranties, including, but not limited to, the implied warranties of
# merchantability and fitness for a particular purpose are disclaimed.
# In no event shall the company or contributors be liable for any
# direct, indirect, incidental, special, exemplary, or consequential
# damages (including, but not limited to, procurement of substitute
# goods or services; loss of use, data, or profits; or business
# interruption) however caused and on any theory of liability, whether
# in contract, strict liability, or tort (including negligence or
# otherwise) arising in any way out of the use of this software, even
# if advised of the possibility of such damage.
#
# $Id: top_level.ucf 31 2007-07-31 13:01:36Z kosek $
#

#This file based on XFP toplevel.ucf file

CONFIG PART = xc2vp20-ff896-5;

### Clock signals (page 24)

NET "LCLKF"	LOC = "AH15" | IOSTANDARD = LVCMOS25;
NET "FCLK"	LOC = "AJ15" | IOSTANDARD = LVCMOS25;
NET "ECLKP"	LOC = "AH16" | IOSTANDARD = LVCMOS25;
NET "ECLKN"	LOC = "AJ16" | IOSTANDARD = LVCMOS25;
NET "ETHCLKP"	LOC = "F16" | IOSTANDARD = LVCMOS25;
NET "ETHCLKN"	LOC = "G16" | IOSTANDARD = LVCMOS25;

### LEDs indicators (zero active) (page 32)

NET "XLED(3)"	LOC = "AB2" | IOSTANDARD = LVCMOS25;
NET "XLED(2)"	LOC = "AA1" | IOSTANDARD = LVCMOS25;
NET "XLED(1)"	LOC = "W1" | IOSTANDARD = LVCMOS25;
NET "XLED(0)"	LOC = "U2" | IOSTANDARD = LVCMOS25;

### SFP interface (signals [A-D] changed to [D-A]) (page 4)

NET "TXDISA"		LOC = "G11" | IOSTANDARD = LVCMOS33;
NET "TXFAULTA"		LOC = "G14" | IOSTANDARD = LVCMOS33;
NET "RXLOSSA"		LOC = "D10" | IOSTANDARD = LVCMOS33;
NET "MODDEFA(2)"	LOC = "F12" | IOSTANDARD = LVCMOS33;
NET "MODDEFA(1)"	LOC = "E12" | IOSTANDARD = LVCMOS33;
NET "MODDEFA(0)"	LOC = "G8" | IOSTANDARD = LVCMOS33;
NET "RSA"		LOC = "D13" | IOSTANDARD = LVCMOS33;

NET "TXDISB"		LOC = "D8" | IOSTANDARD = LVCMOS33;
NET "TXFAULTB"		LOC = "F7" | IOSTANDARD = LVCMOS33;
NET "RXLOSSB"		LOC = "A8" | IOSTANDARD = LVCMOS33;
NET "MODDEFB(2)"	LOC = "C8" | IOSTANDARD = LVCMOS33;
NET "MODDEFB(1)"	LOC = "C7" | IOSTANDARD = LVCMOS33;
NET "MODDEFB(0)"	LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "RSB"		LOC = "B8" | IOSTANDARD = LVCMOS33;

NET "TXDISC"		LOC = "C10" | IOSTANDARD = LVCMOS33;
NET "TXFAULTC"		LOC = "C11" | IOSTANDARD = LVCMOS33;
NET "RXLOSSC"		LOC = "H15" | IOSTANDARD = LVCMOS33;
NET "MODDEFC(2)"	LOC = "B10" | IOSTANDARD = LVCMOS33;
NET "MODDEFC(1)"	LOC = "B9" | IOSTANDARD = LVCMOS33;
NET "MODDEFC(0)"	LOC = "A10" | IOSTANDARD = LVCMOS33;
NET "RSC"		LOC = "F14" | IOSTANDARD = LVCMOS33;

NET "TXDISD"		LOC = "E13" | IOSTANDARD = LVCMOS33;
NET "TXFAULTD"		LOC = "C13" | IOSTANDARD = LVCMOS33;
NET "RXLOSSD"		LOC = "F15" | IOSTANDARD = LVCMOS33;
NET "MODDEFD(2)"	LOC = "D14" | IOSTANDARD = LVCMOS33;
NET "MODDEFD(1)"	LOC = "E14" | IOSTANDARD = LVCMOS33;
NET "MODDEFD(0)"	LOC = "D15" | IOSTANDARD = LVCMOS33;
NET "RSD"		LOC = "E15" | IOSTANDARD = LVCMOS33;

### RocketIO interface (signals [A-D] changed to [D-A]) (page 20)

NET "TDN_A"	LOC = "A7";
NET "TDP_A"	LOC = "A6";
NET "RDP_A"	LOC = "A5";
NET "RDN_A"	LOC = "A4";

NET "TDN_B"	LOC = "A14";
NET "TDP_B"	LOC = "A13";
NET "RDP_B"	LOC = "A12";
NET "RDN_B"	LOC = "A11";

NET "TDN_C"	LOC = "A20";
NET "TDP_C"	LOC = "A19";
NET "RDP_C"	LOC = "A18";
NET "RDN_C"	LOC = "A17";

NET "TDN_D"	LOC = "A27";
NET "TDP_D"	LOC = "A26";
NET "RDP_D"	LOC = "A25";
NET "RDN_D"	LOC = "A24";

### IO interface (page 25)

NET "IO(43)"	LOC = "H11" | IOSTANDARD = LVCMOS33;
NET "IO(42)"	LOC = "H10" | IOSTANDARD = LVCMOS33;
NET "IO(41)"	LOC = "H9" | IOSTANDARD = LVCMOS33;
NET "IO(40)"	LOC = "F9" | IOSTANDARD = LVCMOS33;
NET "IO(39)"	LOC = "H13" | IOSTANDARD = LVCMOS33;
NET "IO(38)"	LOC = "D11" | IOSTANDARD = LVCMOS33;
NET "IO(37)"	LOC = "E9" | IOSTANDARD = LVCMOS33;
NET "IO(36)"	LOC = "F10" | IOSTANDARD = LVCMOS33;
NET "IO(35)"	LOC = "G12" | IOSTANDARD = LVCMOS33;
NET "IO(34)"	LOC = "D7" | IOSTANDARD = LVCMOS33;
NET "IO(33)"	LOC = "E8" | IOSTANDARD = LVCMOS33;
NET "IO(32)"	LOC = "G9" | IOSTANDARD = LVCMOS33;
NET "IO(31)"	LOC = "G13" | IOSTANDARD = LVCMOS33;
NET "IO(30)"	LOC = "H14" | IOSTANDARD = LVCMOS33;
NET "IO(29)"	LOC = "F11" | IOSTANDARD = LVCMOS33;
NET "IO(28)"	LOC = "G10" | IOSTANDARD = LVCMOS33;
NET "IO(27)"	LOC = "E11" | IOSTANDARD = LVCMOS33;
NET "IO(26)"	LOC = "E10" | IOSTANDARD = LVCMOS33;
NET "IO(25)"	LOC = "F8" | IOSTANDARD = LVCMOS33;
NET "IO(24)"	LOC = "H12" | IOSTANDARD = LVCMOS33;

NET "IOS(103)"	LOC = "AB14" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(102)"	LOC = "AE11" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(101)"	LOC = "AF12" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(100)"	LOC = "AF10" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(99)"	LOC = "AE10" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(98)"	LOC = "AH9" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(97)"	LOC = "AC15" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(96)"	LOC = "AE9" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(95)"	LOC = "AH10" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(94)"	LOC = "AK10" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(93)"	LOC = "AB15" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(92)"	LOC = "AE12" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(91)"	LOC = "AJ10" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(90)"	LOC = "AG10" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(89)"	LOC = "AB16" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(88)"	LOC = "AD12" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(87)"	LOC = "AF11" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(86)"	LOC = "AH11" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(85)"	LOC = "AB17" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(84)"	LOC = "AC12" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(83)"	LOC = "AC16" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(82)"	LOC = "AG11" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(81)"	LOC = "AC13" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(80)"	LOC = "AD13" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(79)"	LOC = "AF17" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(78)"	LOC = "AF13" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(77)"	LOC = "AE15" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(76)"	LOC = "AC14" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(75)"	LOC = "AF20" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(74)"	LOC = "AF14" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(73)"	LOC = "AD16" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(72)"	LOC = "AD14" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(71)"	LOC = "AH21" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(70)"	LOC = "AG13" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(69)"	LOC = "AE16" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(68)"	LOC = "AE14" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(67)"	LOC = "AG21" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(66)"	LOC = "AF18" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(65)"	LOC = "AE19" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(64)"	LOC = "AD15" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(63)"	LOC = "AF19" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(62)"	LOC = "AE17" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(61)"	LOC = "AF22" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(60)"	LOC = "AF21" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(59)"	LOC = "AD19" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(58)"	LOC = "AD17" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(57)"	LOC = "AF23" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(56)"	LOC = "AE21" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(55)"	LOC = "AG20" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(54)"	LOC = "AC17" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(53)"	LOC = "AE22" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(52)"	LOC = "AG18" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(51)"	LOC = "AE20" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(50)"	LOC = "AC19" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(49)"	LOC = "AD20" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(48)"	LOC = "AH20" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(47)"	LOC = "AH26" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(46)"	LOC = "AD18" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(45)"	LOC = "AJ21" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(44)"	LOC = "AE24" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(43)"	LOC = "AC21" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(42)"	LOC = "AK21" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(41)"	LOC = "AC18" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(40)"	LOC = "AH27" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(39)"	LOC = "AC20" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(38)"	LOC = "AH22" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(37)"	LOC = "AF25" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(36)"	LOC = "AE23" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(35)"	LOC = "AF27" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(34)"	LOC = "AJ23" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(33)"	LOC = "AG26" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(32)"	LOC = "AE26" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(31)"	LOC = "AG28" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(30)"	LOC = "AH29" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(29)"	LOC = "AB23" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(28)"	LOC = "AD23" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(27)"	LOC = "AG29" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(26)"	LOC = "AD26" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(25)"	LOC = "AF28" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(24)"	LOC = "AG30" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(23)"	LOC = "AA23" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(22)"	LOC = "AD25" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(21)"	LOC = "AE27" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(20)"	LOC = "AF29" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(19)"	LOC = "AB24" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(18)"	LOC = "AC27" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(17)"	LOC = "AD27" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(16)"	LOC = "AE29" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(15)"	LOC = "Y23" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(14)"	LOC = "AC26" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(13)"	LOC = "AD28" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(12)"	LOC = "AF30" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(11)"	LOC = "AA24" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(10)"	LOC = "AC25" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(9)"	LOC = "AD29" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(8)"	LOC = "AB26" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(7)"	LOC = "AC28" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(6)"	LOC = "AD30" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(5)"	LOC = "Y24" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(4)"	LOC = "AB25" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(3)"	LOC = "AG15" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(2)"	LOC = "AF15" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(1)"	LOC = "AF16" | IOSTANDARD = SSTL2_II_DCI;
NET "IOS(0)"	LOC = "AG16" | IOSTANDARD = SSTL2_II_DCI;

### SSRAM0 interface (page 26)

NET "S0A(18)"	LOC = "P26" | IOSTANDARD = LVCMOS25;
NET "S0A(17)"	LOC = "P24" | IOSTANDARD = LVCMOS25;
NET "S0A(16)"	LOC = "N26" | IOSTANDARD = LVCMOS25;
NET "S0A(15)"	LOC = "N23" | IOSTANDARD = LVCMOS25;
NET "S0A(14)"	LOC = "N25" | IOSTANDARD = LVCMOS25;
NET "S0A(13)"	LOC = "N24" | IOSTANDARD = LVCMOS25;
NET "S0A(12)"	LOC = "P23" | IOSTANDARD = LVCMOS25;
NET "S0A(11)"	LOC = "R26" | IOSTANDARD = LVCMOS25;
NET "S0A(10)"	LOC = "R25" | IOSTANDARD = LVCMOS25;
NET "S0A(9)"	LOC = "M29" | IOSTANDARD = LVCMOS25;
NET "S0A(8)"	LOC = "M30" | IOSTANDARD = LVCMOS25;
NET "S0A(7)"	LOC = "AB30" | IOSTANDARD = LVCMOS25;
NET "S0A(6)"	LOC = "AC29" | IOSTANDARD = LVCMOS25;
NET "S0A(5)"	LOC = "T25" | IOSTANDARD = LVCMOS25;
NET "S0A(4)"	LOC = "T26" | IOSTANDARD = LVCMOS25;
NET "S0A(3)"	LOC = "T24" | IOSTANDARD = LVCMOS25;
NET "S0A(2)"	LOC = "T23" | IOSTANDARD = LVCMOS25;
NET "S0A(1)"	LOC = "R23" | IOSTANDARD = LVCMOS25;
NET "S0A(0)"	LOC = "R24" | IOSTANDARD = LVCMOS25;

NET "S0ADSP_N"	LOC = "P29" | IOSTANDARD = LVCMOS25;
NET "S0ADSC_N"	LOC = "P30" | IOSTANDARD = LVCMOS25;
NET "S0ADV_N"	LOC = "N29" | IOSTANDARD = LVCMOS25;
NET "S0CS1_N"	LOC = "AA29" | IOSTANDARD = LVCMOS25;
NET "S0CS2_N"	LOC = "V30" | IOSTANDARD = LVCMOS25;
NET "S0GW_N"	LOC = "U30" | IOSTANDARD = LVCMOS25;
NET "S0BW_N"	LOC = "T29" | IOSTANDARD = LVCMOS25;

NET "S0WE_N(3)"	LOC = "Y29" | IOSTANDARD = LVCMOS25;
NET "S0WE_N(2)"	LOC = "Y30" | IOSTANDARD = LVCMOS25;
NET "S0WE_N(1)"	LOC = "W29" | IOSTANDARD = LVCMOS25;
NET "S0WE_N(0)"	LOC = "V29" | IOSTANDARD = LVCMOS25;

NET "S0OE_N"	LOC = "P28" | IOSTANDARD = LVCMOS25;
NET "S0MODE"	LOC = "U26" | IOSTANDARD = LVCMOS25;
NET "SCLK0"	LOC = "R22" | IOSTANDARD = LVCMOS25;
NET "SCLK0F"	LOC = "C16" | IOSTANDARD = LVCMOS25;

NET "S0D(35)"	LOC = "V25" | IOSTANDARD = LVCMOS25;
NET "S0D(34)"	LOC = "AB27" | IOSTANDARD = LVCMOS25;
NET "S0D(33)"	LOC = "M26" | IOSTANDARD = LVCMOS25;
NET "S0D(32)"	LOC = "Y27" | IOSTANDARD = LVCMOS25;
NET "S0D(31)"	LOC = "V26" | IOSTANDARD = LVCMOS25;
NET "S0D(30)"	LOC = "U24" | IOSTANDARD = LVCMOS25;
NET "S0D(29)"	LOC = "W25" | IOSTANDARD = LVCMOS25;
NET "S0D(28)"	LOC = "Y26" | IOSTANDARD = LVCMOS25;
NET "S0D(27)"	LOC = "T22" | IOSTANDARD = LVCMOS25;
NET "S0D(26)"	LOC = "U22" | IOSTANDARD = LVCMOS25;
NET "S0D(25)"	LOC = "U23" | IOSTANDARD = LVCMOS25;
NET "S0D(24)"	LOC = "V23" | IOSTANDARD = LVCMOS25;
NET "S0D(23)"	LOC = "V24" | IOSTANDARD = LVCMOS25;
NET "S0D(22)"	LOC = "W23" | IOSTANDARD = LVCMOS25;
NET "S0D(21)"	LOC = "W24" | IOSTANDARD = LVCMOS25;
NET "S0D(20)"	LOC = "AA25" | IOSTANDARD = LVCMOS25;
NET "S0D(19)"	LOC = "AA26" | IOSTANDARD = LVCMOS25;
NET "S0D(18)"	LOC = "AA27" | IOSTANDARD = LVCMOS25;
NET "S0D(17)"	LOC = "AA28" | IOSTANDARD = LVCMOS25;
NET "S0D(16)"	LOC = "AB28" | IOSTANDARD = LVCMOS25;
NET "S0D(15)"	LOC = "M27" | IOSTANDARD = LVCMOS25;
NET "S0D(14)"	LOC = "M28" | IOSTANDARD = LVCMOS25;
NET "S0D(13)"	LOC = "R27" | IOSTANDARD = LVCMOS25;
NET "S0D(12)"	LOC = "P27" | IOSTANDARD = LVCMOS25;
NET "S0D(11)"	LOC = "N27" | IOSTANDARD = LVCMOS25;
NET "S0D(10)"	LOC = "N28" | IOSTANDARD = LVCMOS25;
NET "S0D(9)"	LOC = "T27" | IOSTANDARD = LVCMOS25;
NET "S0D(8)"	LOC = "R28" | IOSTANDARD = LVCMOS25;
NET "S0D(7)"	LOC = "U27" | IOSTANDARD = LVCMOS25;
NET "S0D(6)"	LOC = "T28" | IOSTANDARD = LVCMOS25;
NET "S0D(5)"	LOC = "U28" | IOSTANDARD = LVCMOS25;
NET "S0D(4)"	LOC = "V27" | IOSTANDARD = LVCMOS25;
NET "S0D(3)"	LOC = "V28" | IOSTANDARD = LVCMOS25;
NET "S0D(2)"	LOC = "W27" | IOSTANDARD = LVCMOS25;
NET "S0D(1)"	LOC = "W26" | IOSTANDARD = LVCMOS25;
NET "S0D(0)"	LOC = "W28" | IOSTANDARD = LVCMOS25;

### SSRAM1 interface (page 27)

NET "S1A(18)"	LOC = "G30" | IOSTANDARD = LVCMOS25;
NET "S1A(17)"	LOC = "L30" | IOSTANDARD = LVCMOS25;
NET "S1A(16)"	LOC = "L29" | IOSTANDARD = LVCMOS25;
NET "S1A(15)"	LOC = "K30" | IOSTANDARD = LVCMOS25;
NET "S1A(14)"	LOC = "K29" | IOSTANDARD = LVCMOS25;
NET "S1A(13)"	LOC = "J30" | IOSTANDARD = LVCMOS25;
NET "S1A(12)"	LOC = "J29" | IOSTANDARD = LVCMOS25;
NET "S1A(11)"	LOC = "H29" | IOSTANDARD = LVCMOS25;
NET "S1A(10)"	LOC = "G29" | IOSTANDARD = LVCMOS25;
NET "S1A(9)"	LOC = "M25" | IOSTANDARD = LVCMOS25;
NET "S1A(8)"	LOC = "K25" | IOSTANDARD = LVCMOS25;
NET "S1A(7)"	LOC = "G23" | IOSTANDARD = LVCMOS25;
NET "S1A(6)"	LOC = "F24" | IOSTANDARD = LVCMOS25;
NET "S1A(5)"	LOC = "D29" | IOSTANDARD = LVCMOS25;
NET "S1A(4)"	LOC = "D30" | IOSTANDARD = LVCMOS25;
NET "S1A(3)"	LOC = "E29" | IOSTANDARD = LVCMOS25;
NET "S1A(2)"	LOC = "E30" | IOSTANDARD = LVCMOS25;
NET "S1A(1)"	LOC = "F29" | IOSTANDARD = LVCMOS25;
NET "S1A(0)"	LOC = "F30" | IOSTANDARD = LVCMOS25;

NET "S1ADSP_N"	LOC = "J25" | IOSTANDARD = LVCMOS25;
NET "S1ADSC_N"	LOC = "K26" | IOSTANDARD = LVCMOS25;
NET "S1ADV_N"	LOC = "L26" | IOSTANDARD = LVCMOS25;
NET "S1CS1_N"	LOC = "J23" | IOSTANDARD = LVCMOS25;
NET "S1CS2_N"	LOC = "H26" | IOSTANDARD = LVCMOS25;
NET "S1GW_N"	LOC = "J26" | IOSTANDARD = LVCMOS25;
NET "S1BW_N"	LOC = "K24" | IOSTANDARD = LVCMOS25;

NET "S1WE_N(3)"	LOC = "K23" | IOSTANDARD = LVCMOS25;
NET "S1WE_N(2)"	LOC = "H25" | IOSTANDARD = LVCMOS25;
NET "S1WE_N(1)"	LOC = "L24" | IOSTANDARD = LVCMOS25;
NET "S1WE_N(0)"	LOC = "H27" | IOSTANDARD = LVCMOS25;

NET "S1OE_N"	LOC = "K27" | IOSTANDARD = LVCMOS25;
NET "S1MODE"	LOC = "C30" | IOSTANDARD = LVCMOS25;
NET "SCLK1"	LOC = "J24" | IOSTANDARD = LVCMOS25;
NET "SCLK1F"	LOC = "B16" | IOSTANDARD = LVCMOS25;

NET "S1D(35)"	LOC = "C29" | IOSTANDARD = LVCMOS25;
NET "S1D(34)"	LOC = "F23" | IOSTANDARD = LVCMOS25;
NET "S1D(33)"	LOC = "G22" | IOSTANDARD = LVCMOS25;
NET "S1D(32)"	LOC = "K28" | IOSTANDARD = LVCMOS25;
NET "S1D(31)"	LOC = "D18" | IOSTANDARD = LVCMOS25;
NET "S1D(30)"	LOC = "C18" | IOSTANDARD = LVCMOS25;
NET "S1D(29)"	LOC = "C20" | IOSTANDARD = LVCMOS25;
NET "S1D(28)"	LOC = "D20" | IOSTANDARD = LVCMOS25;
NET "S1D(27)"	LOC = "E21" | IOSTANDARD = LVCMOS25;
NET "S1D(26)"	LOC = "D21" | IOSTANDARD = LVCMOS25;
NET "S1D(25)"	LOC = "E22" | IOSTANDARD = LVCMOS25;
NET "S1D(24)"	LOC = "C21" | IOSTANDARD = LVCMOS25;
NET "S1D(23)"	LOC = "C22" | IOSTANDARD = LVCMOS25;
NET "S1D(22)"	LOC = "B23" | IOSTANDARD = LVCMOS25;
NET "S1D(21)"	LOC = "C23" | IOSTANDARD = LVCMOS25;
NET "S1D(20)"	LOC = "C24" | IOSTANDARD = LVCMOS25;
NET "S1D(19)"	LOC = "F22" | IOSTANDARD = LVCMOS25;
NET "S1D(18)"	LOC = "D23" | IOSTANDARD = LVCMOS25;
NET "S1D(17)"	LOC = "D24" | IOSTANDARD = LVCMOS25;
NET "S1D(16)"	LOC = "E23" | IOSTANDARD = LVCMOS25;
NET "S1D(15)"	LOC = "G25" | IOSTANDARD = LVCMOS25;
NET "S1D(14)"	LOC = "G26" | IOSTANDARD = LVCMOS25;
NET "S1D(13)"	LOC = "C26" | IOSTANDARD = LVCMOS25;
NET "S1D(12)"	LOC = "D26" | IOSTANDARD = LVCMOS25;
NET "S1D(11)"	LOC = "C27" | IOSTANDARD = LVCMOS25;
NET "S1D(10)"	LOC = "E27" | IOSTANDARD = LVCMOS25;
NET "S1D(9)"	LOC = "F27" | IOSTANDARD = LVCMOS25;
NET "S1D(8)"	LOC = "D28" | IOSTANDARD = LVCMOS25;
NET "S1D(7)"	LOC = "E28" | IOSTANDARD = LVCMOS25;
NET "S1D(6)"	LOC = "G27" | IOSTANDARD = LVCMOS25;
NET "S1D(5)"	LOC = "F28" | IOSTANDARD = LVCMOS25;
NET "S1D(4)"	LOC = "G28" | IOSTANDARD = LVCMOS25;
NET "S1D(3)"	LOC = "J27" | IOSTANDARD = LVCMOS25;
NET "S1D(2)"	LOC = "H28" | IOSTANDARD = LVCMOS25;
NET "S1D(1)"	LOC = "J28" | IOSTANDARD = LVCMOS25;
NET "S1D(0)"	LOC = "L27" | IOSTANDARD = LVCMOS25;

### CAM interface (page 29)

NET "CD(67)"	LOC = "N3" | IOSTANDARD = LVCMOS25;
NET "CD(66)"	LOC = "AB8" | IOSTANDARD = LVCMOS25;
NET "CD(65)"	LOC = "M4" | IOSTANDARD = LVCMOS25;
NET "CD(64)"	LOC = "AD8" | IOSTANDARD = LVCMOS25;
NET "CD(63)"	LOC = "L4" | IOSTANDARD = LVCMOS25;
NET "CD(62)"	LOC = "AE8" | IOSTANDARD = LVCMOS25;
NET "CD(61)"	LOC = "M3" | IOSTANDARD = LVCMOS25;
NET "CD(60)"	LOC = "AF6" | IOSTANDARD = LVCMOS25;
NET "CD(59)"	LOC = "P3" | IOSTANDARD = LVCMOS25;
NET "CD(58)"	LOC = "AA8" | IOSTANDARD = LVCMOS25;
NET "CD(57)"	LOC = "M5" | IOSTANDARD = LVCMOS25;
NET "CD(56)"	LOC = "AC6" | IOSTANDARD = LVCMOS25;
NET "CD(55)"	LOC = "AC11" | IOSTANDARD = LVCMOS25;
NET "CD(54)"	LOC = "AA7" | IOSTANDARD = LVCMOS25;
NET "CD(53)"	LOC = "N4" | IOSTANDARD = LVCMOS25;
NET "CD(52)"	LOC = "AB6" | IOSTANDARD = LVCMOS25;
NET "CD(51)"	LOC = "R4" | IOSTANDARD = LVCMOS25;
NET "CD(50)"	LOC = "AD5" | IOSTANDARD = LVCMOS25;
NET "CD(49)"	LOC = "P4" | IOSTANDARD = LVCMOS25;
NET "CD(48)"	LOC = "AB4" | IOSTANDARD = LVCMOS25;
NET "CD(47)"	LOC = "T3" | IOSTANDARD = LVCMOS25;
NET "CD(46)"	LOC = "AB5" | IOSTANDARD = LVCMOS25;
NET "CD(45)"	LOC = "T4" | IOSTANDARD = LVCMOS25;
NET "CD(44)"	LOC = "W7" | IOSTANDARD = LVCMOS25;
NET "CD(43)"	LOC = "U7" | IOSTANDARD = LVCMOS25;
NET "CD(42)"	LOC = "AA6" | IOSTANDARD = LVCMOS25;
NET "CD(41)"	LOC = "V5" | IOSTANDARD = LVCMOS25;
NET "CD(40)"	LOC = "AC5" | IOSTANDARD = LVCMOS25;
NET "CD(39)"	LOC = "M8" | IOSTANDARD = LVCMOS25;
NET "CD(38)"	LOC = "W5" | IOSTANDARD = LVCMOS25;
NET "CD(37)"	LOC = "L5" | IOSTANDARD = LVCMOS25;
NET "CD(36)"	LOC = "AA5" | IOSTANDARD = LVCMOS25;
NET "CD(35)"	LOC = "N6" | IOSTANDARD = LVCMOS25;
NET "CD(34)"	LOC = "Y8" | IOSTANDARD = LVCMOS25;
NET "CD(33)"	LOC = "M7" | IOSTANDARD = LVCMOS25;
NET "CD(32)"	LOC = "Y5" | IOSTANDARD = LVCMOS25;
NET "CD(31)"	LOC = "M6" | IOSTANDARD = LVCMOS25;
NET "CD(30)"	LOC = "V8" | IOSTANDARD = LVCMOS25;
NET "CD(29)"	LOC = "N8" | IOSTANDARD = LVCMOS25;
NET "CD(28)"	LOC = "W6" | IOSTANDARD = LVCMOS25;
NET "CD(27)"	LOC = "P7" | IOSTANDARD = LVCMOS25;
NET "CD(26)"	LOC = "V7" | IOSTANDARD = LVCMOS25;
NET "CD(25)"	LOC = "U8" | IOSTANDARD = LVCMOS25;
NET "CD(24)"	LOC = "Y7" | IOSTANDARD = LVCMOS25;
NET "CD(23)"	LOC = "T5" | IOSTANDARD = LVCMOS25;
NET "CD(22)"	LOC = "W8" | IOSTANDARD = LVCMOS25;
NET "CD(21)"	LOC = "P5" | IOSTANDARD = LVCMOS25;
NET "CD(20)"	LOC = "V6" | IOSTANDARD = LVCMOS25;
NET "CD(19)"	LOC = "U5" | IOSTANDARD = LVCMOS25;
NET "CD(18)"	LOC = "AE5" | IOSTANDARD = LVCMOS25;
NET "CD(17)"	LOC = "N7" | IOSTANDARD = LVCMOS25;
NET "CD(16)"	LOC = "AH4" | IOSTANDARD = LVCMOS25;
NET "CD(15)"	LOC = "T7" | IOSTANDARD = LVCMOS25;
NET "CD(14)"	LOC = "AG5" | IOSTANDARD = LVCMOS25;
NET "CD(13)"	LOC = "R5" | IOSTANDARD = LVCMOS25;
NET "CD(12)"	LOC = "AH2" | IOSTANDARD = LVCMOS25;
NET "CD(11)"	LOC = "U9" | IOSTANDARD = LVCMOS25;
NET "CD(10)"	LOC = "AG3" | IOSTANDARD = LVCMOS25;
NET "CD(9)"	LOC = "T6" | IOSTANDARD = LVCMOS25;
NET "CD(8)"	LOC = "AF4" | IOSTANDARD = LVCMOS25;
NET "CD(7)"	LOC = "R7" | IOSTANDARD = LVCMOS25;
NET "CD(6)"	LOC = "AF3" | IOSTANDARD = LVCMOS25;
NET "CD(5)"	LOC = "T9" | IOSTANDARD = LVCMOS25;
NET "CD(4)"	LOC = "AF1" | IOSTANDARD = LVCMOS25;
NET "CD(3)"	LOC = "R8" | IOSTANDARD = LVCMOS25;
NET "CD(2)"	LOC = "AG2" | IOSTANDARD = LVCMOS25;
NET "CD(1)"	LOC = "T8" | IOSTANDARD = LVCMOS25;
NET "CD(0)"	LOC = "AE4" | IOSTANDARD = LVCMOS25;

NET "COP(8)"	LOC = "AF2" | IOSTANDARD = LVCMOS25;
NET "COP(7)"	LOC = "AD1" | IOSTANDARD = LVCMOS25;
NET "COP(6)"	LOC = "AD4" | IOSTANDARD = LVCMOS25;
NET "COP(5)"	LOC = "AC2" | IOSTANDARD = LVCMOS25;
NET "COP(4)"	LOC = "AC4" | IOSTANDARD = LVCMOS25;
NET "COP(3)"	LOC = "AD3" | IOSTANDARD = LVCMOS25;
NET "COP(2)"	LOC = "AA4" | IOSTANDARD = LVCMOS25;
NET "COP(1)"	LOC = "AB1" | IOSTANDARD = LVCMOS25;
NET "COP(0)"	LOC = "AC3" | IOSTANDARD = LVCMOS25;

NET "COPV"	LOC = "AA3" | IOSTANDARD = LVCMOS25;
NET "CACK_N"	LOC = "AF9" | IOSTANDARD = LVCMOS25;
NET "CEOT"	LOC = "AF8" | IOSTANDARD = LVCMOS25;
NET "CMF"	LOC = "AG1" | IOSTANDARD = LVCMOS25;
NET "CMM_N"	LOC = "AE2" | IOSTANDARD = LVCMOS25;
NET "CMV"	LOC = "AD2" | IOSTANDARD = LVCMOS25;
NET "CFF"	LOC = "AJ8" | IOSTANDARD = LVCMOS25;
NET "CPHASE"	LOC = "Y1" | IOSTANDARD = LVCMOS25;
NET "CRST_N"	LOC = "AD6" | IOSTANDARD = LVCMOS25;
NET "CMCLK"	LOC = "AD11" | IOSTANDARD = LVCMOS25;
NET "CMCLKF"	LOC = "C15" | IOSTANDARD = LVCMOS25;

NET "CAD(21)"	LOC = "Y2" | IOSTANDARD = LVCMOS25;
NET "CAD(20)"	LOC = "V1" | IOSTANDARD = LVCMOS25;
NET "CAD(19)"	LOC = "W2" | IOSTANDARD = LVCMOS25;
NET "CAD(18)"	LOC = "W3" | IOSTANDARD = LVCMOS25;
NET "CAD(17)"	LOC = "U1" | IOSTANDARD = LVCMOS25;
NET "CAD(16)"	LOC = "V2" | IOSTANDARD = LVCMOS25;
NET "CAD(15)"	LOC = "V4" | IOSTANDARD = LVCMOS25;
NET "CAD(14)"	LOC = "R3" | IOSTANDARD = LVCMOS25;
NET "CAD(13)"	LOC = "P2" | IOSTANDARD = LVCMOS25;
NET "CAD(12)"	LOC = "V3" | IOSTANDARD = LVCMOS25;
NET "CAD(11)"	LOC = "M1" | IOSTANDARD = LVCMOS25;
NET "CAD(10)"	LOC = "P1" | IOSTANDARD = LVCMOS25;
NET "CAD(9)"	LOC = "T2" | IOSTANDARD = LVCMOS25;
NET "CAD(8)"	LOC = "M2" | IOSTANDARD = LVCMOS25;
NET "CAD(7)"	LOC = "N2" | IOSTANDARD = LVCMOS25;
NET "CAD(6)"	LOC = "U4" | IOSTANDARD = LVCMOS25;
NET "CAD(5)"	LOC = "U3" | IOSTANDARD = LVCMOS25;
NET "CAD(4)"	LOC = "L2" | IOSTANDARD = LVCMOS25;
NET "CAD(3)"	LOC = "P9" | IOSTANDARD = LVCMOS25;
NET "CAD(2)"	LOC = "R6" | IOSTANDARD = LVCMOS25;
NET "CAD(1)"	LOC = "P8" | IOSTANDARD = LVCMOS25;
NET "CAD(0)"	LOC = "R9" | IOSTANDARD = LVCMOS25;

NET "CCE_N"	LOC = "AA2" | IOSTANDARD = LVCMOS25;
NET "CALE_N"	LOC = "AB3" | IOSTANDARD = LVCMOS25;
NET "COE_N"	LOC = "W4" | IOSTANDARD = LVCMOS25;
NET "CWE_N"	LOC = "Y4" | IOSTANDARD = LVCMOS25;
NET "CSCLK"	LOC = "G15" | IOSTANDARD = LVCMOS25;

NET "CSEN(3)"	LOC = "AH5" | IOSTANDARD = LVCMOS25;
NET "CSEN(2)"	LOC = "AB7" | IOSTANDARD = LVCMOS25;
NET "CSEN(1)"	LOC = "AC10" | IOSTANDARD = LVCMOS25;
NET "CSEN(0)"	LOC = "AE7" | IOSTANDARD = LVCMOS25;


# ----------------------------------------------------------------------------
#                    Constrains depended on design
# ----------------------------------------------------------------------------


# local bus constraints ------------------------------------------------------

NET "IOS(19)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD-15
NET "IOS(18)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD-14
NET "IOS(17)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD-13
NET "IOS(16)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD
NET "IOS(15)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD
NET "IOS(14)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD
NET "IOS(13)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD
NET "IOS(12)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD
NET "IOS(11)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD
NET "IOS(10)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD
NET "IOS(9)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD
NET "IOS(8)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD
NET "IOS(7)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD
NET "IOS(6)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD-02
NET "IOS(5)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD-01
NET "IOS(4)"	 TNM = "LB_OUT_GRP" | TNM = "LB_IN_GRP"; #LBAD-00

NET "IOS(26)"	 TNM = "LB_IN_GRP"; #LBFRAME
NET "IOS(25)"	 TNM = "LB_IN_GRP"; #LBAS
NET "IOS(24)"	 TNM = "LB_IN_GRP"; #LBRW
NET "IOS(23)"	 TNM = "LB_IN_GRP"; #LBLAST
NET "IOS(22)"	 TNM = "LB_OUT_GRP" | PULLUP; #LBHOLDA
NET "IOS(21)"	 TNM = "LB_OUT_GRP" | PULLUP; #LBRDY

NET "IOS(2)"	 PERIOD = 100 MHZ HIGH 50%; # lbclk

INST *IOS_TO_LB*reg* IOB = TRUE;
TIMEGRP "LB_OUT_GRP" OFFSET = OUT 4 ns AFTER "IOS(2)";
TIMEGRP "LB_IN_GRP" OFFSET = IN 2 ns BEFORE "IOS(2)";

# IOB registers constrain ----------------------------------------------------
INST *regiob* IOB = TRUE;

