#
# fpga_u5.ucf: UCF for FPGA XC2VP50-70(FF1517) in design COMBO6X 1.1
# Copyright (C) 2006  CESNET
# Authors: Rudolf Cejka <cejkar@fit.vutbr.cz>
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1. Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in
#    the documentation and/or other materials provided with the
#    distribution.
# 3. Neither the name of the Company nor the names of its contributors
#    may be used to endorse or promote products derived from this
#    software without specific prior written permission.
#
# This software is provided ``as is'', and any express or implied
# warranties, including, but not limited to, the implied warranties of
# merchantability and fitness for a particular purpose are disclaimed.
# In no event shall the company or contributors be liable for any
# direct, indirect, incidental, special, exemplary, or consequential
# damages (including, but not limited to, procurement of substitute
# goods or services; loss of use, data, or profits; or business
# interruption) however caused and on any theory of liability, whether
# in contract, strict liability, or tort (including negligence or
# otherwise) arising in any way out of the use of this software, even
# if advised of the possibility of such damage.
#
# $Id: fpga_u5.ucf 14 2007-07-31 06:44:05Z kosek $
#

CONFIG PART = xc2vp50-ff1517-5;

### Clock signals (page 2)
NET "CLKF"	  LOC = "AK20" | IOSTANDARD = LVCMOS25 | PERIOD = 125MHz HIGH 50%;

### IO interface (page 22)
NET "LINT"	  LOC = "AE8" | IOSTANDARD = LVCMOS25;
NET "LRESET"  LOC = "AD4" | IOSTANDARD = LVCMOS25;

### RocketIO interface (page 22)
NET "TXN3"	LOC = "AW7";
NET "TXP3"	LOC = "AW6";
NET "RXP3"	LOC = "AW5";
NET "RXN3"	LOC = "AW4";

NET "TXN2"	LOC = "AW11";
NET "TXP2"	LOC = "AW10";
NET "RXP2"	LOC = "AW9";
NET "RXN2"	LOC = "AW8";
