###############################################################################
# Physical Constraints specific for the XC5VLX155T FPGA
###############################################################################
## PCI/GTP connectivity for LX110T-FF1136 
##        PCIe lanes 0 & 1 connect to GTP X0Y5 (MGT116)
##        PCIe lanes 2 & 3 connect to GTP X0Y4 (MGT112)
##        PCIe lanes 4 & 5 connect to GTP X0Y3 (MGT114)
##        PCIe lanes 6 & 7 connect to GTP X0Y2 (MGT118)

# PCIe Lanes 0, 1
INST "*ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[0].GT_i" LOC = GTP_DUAL_X0Y5;

# PCIe Lanes 2, 3
INST "*ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[2].GT_i" LOC = GTP_DUAL_X0Y4;

# PCIe Lanes 4, 5
INST "*ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[4].GT_i" LOC = GTP_DUAL_X0Y3;

# PCIe Lanes 6, 7
INST "*ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[6].GT_i" LOC = GTP_DUAL_X0Y2;
