# combov2_precision.ucf: UCF for Netcope at COMBOv2, synthesis with Precision
# Copyright (C) 2008  CESNET
# Authors: Viktor Pus <pus@liberouter.org>
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1. Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in
#    the documentation and/or other materials provided with the
#    distribution.
# 3. Neither the name of the Company nor the names of its contributors
#    may be used to endorse or promote products derived from this
#    software without specific prior written permission.
#
# This software is provided ``as is'', and any express or implied
# warranties, including, but not limited to, the implied warranties of
# merchantability and fitness for a particular purpose are disclaimed.
# In no event shall the company or contributors be liable for any
# direct, indirect, incidental, special, exemplary, or consequential
# damages (including, but not limited to, procurement of substitute
# goods or services; loss of use, data, or profits; or business
# interruption) however caused and on any theory of liability, whether
# in contract, strict liability, or tort (including negligence or
# otherwise) arising in any way out of the use of this software, even
# if advised of the possibility of such damage.
#
# $Id: combov2_precision.ucf 12049 2009-11-19 07:34:45Z pus $
#
## Lock reclock registers on the Spartan3 interface
INST *PCI_SYSTEM*reg_rx_sof8_i RLOC = X0Y0;
INST *PCI_SYSTEM*reg_rx_eof8_i RLOC = X0Y1;
INST *PCI_SYSTEM*reg_rx_src_rdy8_i RLOC = X0Y1;
INST *PCI_SYSTEM*reg_rx_data8_i(0) RLOC = X0Y2;
INST *PCI_SYSTEM*reg_rx_data8_i(1) RLOC = X0Y2;
INST *PCI_SYSTEM*reg_rx_data8_i(2) RLOC = X0Y2;
INST *PCI_SYSTEM*reg_rx_data8_i(3) RLOC = X0Y2;
INST *PCI_SYSTEM*reg_rx_data8_i(4) RLOC = X0Y3;
INST *PCI_SYSTEM*reg_rx_data8_i(5) RLOC = X0Y3;
INST *PCI_SYSTEM*reg_rx_data8_i(6) RLOC = X0Y3;
INST *PCI_SYSTEM*reg_rx_data8_i(7) RLOC = X0Y3;

INST *PCI_SYSTEM*reg_rx_sof8 RLOC = X1Y0;
INST *PCI_SYSTEM*reg_rx_eof8 RLOC = X1Y1;
INST *PCI_SYSTEM*reg_rx_src_rdy8 RLOC = X1Y1;
INST *PCI_SYSTEM*reg_rx_data8(0) RLOC = X1Y2;
INST *PCI_SYSTEM*reg_rx_data8(1) RLOC = X1Y2;
INST *PCI_SYSTEM*reg_rx_data8(2) RLOC = X1Y2;
INST *PCI_SYSTEM*reg_rx_data8(3) RLOC = X1Y2;
INST *PCI_SYSTEM*reg_rx_data8(4) RLOC = X1Y3;
INST *PCI_SYSTEM*reg_rx_data8(5) RLOC = X1Y3;
INST *PCI_SYSTEM*reg_rx_data8(6) RLOC = X1Y3;
INST *PCI_SYSTEM*reg_rx_data8(7) RLOC = X1Y3;
