#CONFIG PART = 2v1000-6-fg456;
#CONFIG PART = 2vp7-7-ff672;
#CONFIG PART = 4vfx12-12-sf363;
CONFIG PART = 2vp20-5-ff896;


NET "CLK" PERIOD=156.25 MHz HIGH 50%;

INST *reg_di*    IOB = FALSE;
INST *reg_didv*  IOB = FALSE;
INST *reg_do*    IOB = FALSE;
INST *reg_mask*  IOB = FALSE;
INST *reg_eop*   IOB = FALSE;
INST *reg_dodv*  IOB = FALSE;
