#
# combov2_u0.ucf: UCF for FPGA in design COMBOv2 (Virtex5)
# Copyright (C) 2008  CESNET
# Authors: Milan Malich <malich@mail.muni.cz>
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1. Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in
#    the documentation and/or other materials provided with the
#    distribution.
# 3. Neither the name of the Company nor the names of its contributors
#    may be used to endorse or promote products derived from this
#    software without specific prior written permission.
#
# This software is provided ``as is'', and any express or implied
# warranties, including, but not limited to, the implied warranties of
# merchantability and fitness for a particular purpose are disclaimed.
# In no event shall the company or contributors be liable for any
# direct, indirect, incidental, special, exemplary, or consequential
# damages (including, but not limited to, procurement of substitute
# goods or services; loss of use, data, or profits; or business
# interruption) however caused and on any theory of liability, whether
# in contract, strict liability, or tort (including negligence or
# otherwise) arising in any way out of the use of this software, even
# if advised of the possibility of such damage.
#
# $Id: combov2_u0.ucf 11595 2009-10-13 16:27:58Z korcek $
#
#------------------------------------
# PCI Express x8
#------------------------------------
  # Data-Tx
  NET	"PET_P<0>"  LOC = "F2";
  NET	"PET_N<0>"  LOC = "G2";
  NET	"PET_P<1>"  LOC = "L2";
  NET	"PET_N<1>"  LOC = "K2";
  NET	"PET_P<2>"  LOC = "M2";
  NET	"PET_N<2>"  LOC = "N2";
  NET	"PET_P<3>"  LOC = "U2";
  NET	"PET_N<3>"  LOC = "T2";
  NET	"PET_P<4>"  LOC = "V2";
  NET	"PET_N<4>"  LOC = "W2";
  NET	"PET_P<5>"  LOC = "AC2";
  NET	"PET_N<5>"  LOC = "AB2";
  NET	"PET_P<6>"  LOC = "AD2";
  NET	"PET_N<6>"  LOC = "AE2";
  NET	"PET_P<7>"  LOC = "AJ2";
  NET	"PET_N<7>"  LOC = "AH2";
  # Data-Rx
  NET	"PER_P<0>"	LOC = "G1";
  NET	"PER_N<0>"	LOC = "H1";
  NET	"PER_P<1>"	LOC = "K1";
  NET	"PER_N<1>"	LOC = "J1";
  NET	"PER_P<2>"	LOC = "N1";
  NET	"PER_N<2>"	LOC = "P1";
  NET	"PER_P<3>"	LOC = "T1";
  NET	"PER_N<3>"	LOC = "R1";
  NET	"PER_P<4>"	LOC = "W1";
  NET	"PER_N<4>"	LOC = "Y1";
  NET	"PER_P<5>"	LOC = "AB1";
  NET	"PER_N<5>"	LOC = "AA1";
  NET	"PER_P<6>"	LOC = "AE1";
  NET	"PER_N<6>"	LOC = "AF1";
  NET	"PER_P<7>"	LOC = "AH1";
  NET	"PER_N<7>"	LOC = "AG1";
  # Clk
  NET	"PCLK250_P"	LOC =	"H4";
  NET	"PCLK250_N"	LOC =	"H3";
  # LVDS-Clk
#  NET	"IF1_0RCLK_N"	LOC =	"C13"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0RCLK_P"	LOC =	"B13"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1RCLK_N"	LOC =	"R8" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1RCLK_P"	LOC =	"R7" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0GCLK_N"	LOC =	"H15"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0GCLK_P"	LOC =	"H14"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1GCLK_N"	LOC =	"J21"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1GCLK_P"	LOC =	"J20"; # | IOSTANDARD = "LVCMOS25";
  # LVDS-Data
#  NET	"IF1_0D_N<0>"	LOC =	"N9" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<1>"	LOC =	"L9" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<2>"	LOC =	"J11"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<3>"	LOC =	"K9" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<4>"	LOC =	"G12"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<5>"	LOC =	"H9" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<6>"	LOC =	"G13"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<7>"	LOC =	"E11"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<8>"	LOC =	"E13"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<9>"	LOC =	"D10"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<10>"	LOC =	"B12"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<11>"	LOC =	"C12"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<12>"	LOC =	"J9" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<13>"	LOC =	"L8" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<14>"	LOC =	"H8" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<15>"	LOC =	"G10"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<16>"	LOC =	"E8" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_N<17>"	LOC =	"F8" ; #| IOSTANDARD = "LVCMOS25";

#  NET	"IF1_0D_P<0>"	LOC =	"N10"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<1>"	LOC =	"M10"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<2>"	LOC =	"K11"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<3>"	LOC =	"K8" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<4>"	LOC =	"G11"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<5>"	LOC =	"H10"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<6>"	LOC =	"F13"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<7>"	LOC =	"F11"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<8>"	LOC =	"E12"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<9>"	LOC =	"D11"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<10>"	LOC =	"A13"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<11>"	LOC =	"D12"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<12>"	LOC =	"J10"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<13>"	LOC =	"M8" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<14>"	LOC =	"G8" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<15>"	LOC =	"F10"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<16>"	LOC =	"E9" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_0D_P<17>"	LOC =	"F9" ; #| IOSTANDARD = "LVCMOS25";

#  NET	"IF1_1D_N<0>"	LOC =	"K6" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<1>"	LOC =	"J7" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<2>"	LOC =	"G7" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<3>"	LOC =	"E7" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<4>"	LOC =	"G5" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<5>"	LOC =	"F6" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<6>"	LOC =	"L5" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<7>"	LOC =	"J5" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<8>"	LOC =	"P10"; #  | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<9>"	LOC =	"L6" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<10>"	LOC =	"M5" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<11>"	LOC =	"N7" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<12>"	LOC =	"P5" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<13>"	LOC =	"T11"; #  | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<14>"	LOC =	"P6" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<15>"	LOC =	"U10"; #  | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<16>"	LOC =	"U7" ; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_N<17>"	LOC =	"T6" ; # | IOSTANDARD = "LVCMOS25";
                                     
#  NET	"IF1_1D_P<0>"	LOC =	"K7" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<1>"	LOC =	"H7" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<2>"	LOC =	"G6" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<3>"	LOC =	"E6" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<4>"	LOC =	"H5" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<5>"	LOC =	"F5" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<6>"	LOC =	"L4" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<7>"	LOC =	"J6" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<8>"	LOC =	"R11"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<9>"	LOC =	"M7" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<10>"	LOC =	"M6" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<11>"	LOC =	"N8" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<12>"	LOC =	"N5" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<13>"	LOC =	"T10"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<14>"	LOC =	"P7" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<15>"	LOC =	"T9" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<16>"	LOC =	"T8" ; #| IOSTANDARD = "LVCMOS25";
#  NET	"IF1_1D_P<17>"	LOC =	"R6" ; #| IOSTANDARD = "LVCMOS25";

#------------------------------------
# IFC2
#------------------------------------
  # GTP-Tx
#  NET	"GT2T_P<0>"	LOC =	"AK2";
#  NET	"GT2T_N<0>"	LOC =	"AL2";
#  NET	"GT2T_P<1>"	LOC =	"AN4";
#  NET	"GT2T_N<1>"	LOC =	"AN3";
#  NET	"GT2T_P<2>"	LOC =	"AN5";
#  NET	"GT2T_N<2>"	LOC =	"AN6";
#  NET	"GT2T_P<3>"	LOC =	"AN10";
#  NET	"GT2T_N<3>"	LOC =	"AN9";
  # GTP-Rx
#  NET	"GT2R_P<0>"	LOC =	"AL1";
#  NET	"GT2R_N<0>"	LOC =	"AM1";
#  NET	"GT2R_P<1>"	LOC =	"AP3";
#  NET	"GT2R_N<1>"	LOC =	"AP2";
#  NET	"GT2R_P<2>"	LOC =	"AP6";
#  NET	"GT2R_N<2>"	LOC =	"AP7";
#  NET	"GT2R_P<3>"	LOC =	"AP9";
#  NET	"GT2R_N<3>"	LOC =	"AP8";
  # LVDS-Clk
#  NET	"IF2_0RCLK_N"	LOC =	"A25"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0RCLK_P"	LOC =	"B26"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1RCLK_N"	LOC =	"E16"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1RCLK_P"	LOC =	"E17"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0GCLK_N"	LOC =	"H13"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0GCLK_P"	LOC =	"J14"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1GCLK_N"	LOC =	"H20"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1GCLK_P"	LOC =	"H19"; # | IOSTANDARD = "LVCMOS25";
  # LVDS-Data
#  NET	"IF2_0D_N<0>"	LOC =	"A26"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<1>"	LOC =	"D25"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<2>"	LOC =	"D27"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<3>"	LOC =	"C25"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<4>"	LOC =	"D30"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<5>"	LOC =	"C27"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<6>"	LOC =	"A31"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<7>"	LOC =	"D29"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<8>"	LOC =	"B30"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<9>"	LOC =	"A28"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<10>"	LOC =	"A24"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<11>"	LOC =	"B23"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<12>"	LOC =	"A21"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<13>"	LOC =	"B22"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<14>"	LOC =	"A20"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<15>"	LOC =	"B20"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<16>"	LOC =	"A18"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_N<17>"	LOC =	"C18"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<0>"	LOC =	"B27"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<1>"	LOC =	"C24"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<2>"	LOC =	"C28"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<3>"	LOC =	"B25"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<4>"	LOC =	"D31"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<5>"	LOC =	"D26"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<6>"	LOC =	"B31"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<7>"	LOC =	"C30"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<8>"	LOC =	"A30"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<9>"	LOC =	"A29"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<10>"	LOC =	"A23"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<11>"	LOC =	"C23"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<12>"	LOC =	"B21"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<13>"	LOC =	"C22"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<14>"	LOC =	"A19"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<15>"	LOC =	"C20"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<16>"	LOC =	"B18"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_0D_P<17>"	LOC =	"C19"; # | IOSTANDARD = "LVCMOS25";
  
#  NET	"IF2_1D_N<0>"	LOC =	"E24"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<1>"	LOC =	"F23"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<2>"	LOC =	"E23"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<3>"	LOC =	"D22"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<4>"	LOC =	"G21"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<5>"	LOC =	"D20"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<6>"	LOC =	"F20"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<7>"	LOC =	"D17"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<8>"	LOC =	"F19"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<9>"	LOC =	"A16"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<10>"	LOC =	"F16"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<11>"	LOC =	"G18"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<12>"	LOC =	"E14"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<13>"	LOC =	"F15"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<14>"	LOC =	"D15"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<15>"	LOC =	"B15"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<16>"	LOC =	"C15"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_N<17>"	LOC =	"A14"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<0>"	LOC =	"F24"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<1>"	LOC =	"E22"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<2>"	LOC =	"D24"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<3>"	LOC =	"D21"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<4>"	LOC =	"F21"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<5>"	LOC =	"E21"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<6>"	LOC =	"G20"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<7>"	LOC =	"C17"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<8>"	LOC =	"E19"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<9>"	LOC =	"B17"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<10>"	LOC =	"G17"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<11>"	LOC =	"F18"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<12>"	LOC =	"D14"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<13>"	LOC =	"F14"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<14>"	LOC =	"D16"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<15>"	LOC =	"B16"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<16>"	LOC =	"C14"; # | IOSTANDARD = "LVCMOS25";
#  NET	"IF2_1D_P<17>"	LOC =	"A15"; # | IOSTANDARD = "LVCMOS25";


#------------------------------------
# Oscilator (U8)
#------------------------------------
#  NET	"XCLK2_P"	LOC = "L19" | IOSTANDARD = "LVDS_25";
#  NET	"XCLK2_N"	LOC = "K19" | IOSTANDARD = "LVDS_25";

#------------------------------------
# Led
#------------------------------------
#  NET	"FQLED<0>"	LOC = "AH5" | IOSTANDARD = "LVCMOS18";
#  NET	"FQLED<1>"	LOC = "AG6" | IOSTANDARD = "LVCMOS18";
#  NET	"FQLED<2>"	LOC = "AK7" | IOSTANDARD = "LVCMOS18";
#  NET	"FQLED<3>"	LOC = "AK6" | IOSTANDARD = "LVCMOS18";

#------------------------------------
# Spartan3E (U16)
#------------------------------------
  NET	"XD<0>"	LOC =	"AD19" | IOSTANDARD = "LVCMOS25";
  NET	"XD<1>"	LOC =	"AE19" | IOSTANDARD = "LVCMOS25";
  NET	"XD<2>"	LOC =	"AE17" | IOSTANDARD = "LVCMOS25";
  NET	"XD<3>"	LOC =	"AF16" | IOSTANDARD = "LVCMOS25";
  NET	"XD<4>"	LOC =	"AD20" | IOSTANDARD = "LVCMOS25";
  NET	"XD<5>"	LOC =	"AE21" | IOSTANDARD = "LVCMOS25";
  NET	"XD<6>"	LOC =	"AE16" | IOSTANDARD = "LVCMOS25";
  NET	"XD<7>"	LOC =	"AF15" | IOSTANDARD = "LVCMOS25";

  NET	"XHSH<0>"	LOC =	"AF21" | IOSTANDARD = "LVCMOS25";
  NET	"XHSH<1>"	LOC =	"AF20" | IOSTANDARD = "LVCMOS25";
  NET	"XHSH<2>"	LOC =	"AF14" | IOSTANDARD = "LVCMOS25";
  NET	"XHSH<3>"	LOC =	"AE14" | IOSTANDARD = "LVCMOS25";
  NET	"XHSH<4>"	LOC =	"AE23" | IOSTANDARD = "LVCMOS25";
  NET	"XHSH<5>"	LOC =	"AE22" | IOSTANDARD = "LVCMOS25";
  NET	"XHSH<6>"	LOC =	"AG12" | IOSTANDARD = "LVCMOS25";
  NET	"XHSH<7>"	LOC =	"AF13" | IOSTANDARD = "LVCMOS25";
  NET	"XHSH<8>"	LOC =	"AG23" | IOSTANDARD = "LVCMOS25";
  NET	"XHSH<9>"	LOC =	"AF23" | IOSTANDARD = "LVCMOS25";
  NET	"XHSH<10>"	LOC =	"AE12" | IOSTANDARD = "LVCMOS25";
  NET	"XHSH<11>"	LOC =	"AE13" | IOSTANDARD = "LVCMOS25";
  
## 
