#
# fpga_u5.ucf: UCF for FPGA XC2VP50-70(FF1517) in design COMBO6X 1.1
# Copyright (C) 2006  CESNET
# Authors: Rudolf Cejka <cejkar@fit.vutbr.cz>
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1. Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in
#    the documentation and/or other materials provided with the
#    distribution.
# 3. Neither the name of the Company nor the names of its contributors
#    may be used to endorse or promote products derived from this
#    software without specific prior written permission.
#
# This software is provided ``as is'', and any express or implied
# warranties, including, but not limited to, the implied warranties of
# merchantability and fitness for a particular purpose are disclaimed.
# In no event shall the company or contributors be liable for any
# direct, indirect, incidental, special, exemplary, or consequential
# damages (including, but not limited to, procurement of substitute
# goods or services; loss of use, data, or profits; or business
# interruption) however caused and on any theory of liability, whether
# in contract, strict liability, or tort (including negligence or
# otherwise) arising in any way out of the use of this software, even
# if advised of the possibility of such damage.
#
# $Id: fpga_u5.ucf 14 2007-07-31 06:44:05Z kosek $
#

CONFIG PART = xc2vp50-ff1517-5;

### Clock signals (page 2)

NET "LCLKF"	LOC = "AG20" | IOSTANDARD = LVCMOS25 | PERIOD=50 MHz HIGH 50%; 
NET "LVDSFP"	LOC = "AT20" | IOSTANDARD = LVCMOS25;
NET "LVDSFN"	LOC = "AR20" | IOSTANDARD = LVCMOS25;
NET "CLKF"	LOC = "AK20" | IOSTANDARD = LVCMOS25 | PERIOD=125 MHz HIGH 50%;

### LEDs indicators (zero active) (page 23)

NET "XLED(3)"	LOC = "AF4" | IOSTANDARD = LVCMOS25;
NET "XLED(2)"	LOC = "AE3" | IOSTANDARD = LVCMOS25;
NET "XLED(1)"	LOC = "AE4" | IOSTANDARD = LVCMOS25;
NET "XLED(0)"	LOC = "AE6" | IOSTANDARD = LVCMOS25;

### CAM interface (page 9)

NET "CD(67)"	LOC = "AJ23" | IOSTANDARD = LVCMOS25;
NET "CD(66)"	LOC = "AT30" | IOSTANDARD = LVCMOS25;
NET "CD(65)"	LOC = "AH27" | IOSTANDARD = LVCMOS25;
NET "CD(64)"	LOC = "AU30" | IOSTANDARD = LVCMOS25;
NET "CD(63)"	LOC = "AH25" | IOSTANDARD = LVCMOS25;
NET "CD(62)"	LOC = "AU29" | IOSTANDARD = LVCMOS25;
NET "CD(61)"	LOC = "AH26" | IOSTANDARD = LVCMOS25;
NET "CD(60)"	LOC = "AR28" | IOSTANDARD = LVCMOS25;
NET "CD(59)"	LOC = "AH23" | IOSTANDARD = LVCMOS25;
NET "CD(58)"	LOC = "AM28" | IOSTANDARD = LVCMOS25;
NET "CD(57)"	LOC = "AJ27" | IOSTANDARD = LVCMOS25;
NET "CD(56)"	LOC = "AL28" | IOSTANDARD = LVCMOS25;
NET "CD(55)"	LOC = "AK25" | IOSTANDARD = LVCMOS25;
NET "CD(54)"	LOC = "AK28" | IOSTANDARD = LVCMOS25;
NET "CD(53)"	LOC = "AG23" | IOSTANDARD = LVCMOS25;
NET "CD(52)"	LOC = "AJ28" | IOSTANDARD = LVCMOS25;
NET "CD(51)"	LOC = "AK24" | IOSTANDARD = LVCMOS25;
NET "CD(50)"	LOC = "AT28" | IOSTANDARD = LVCMOS25;
NET "CD(49)"	LOC = "AH24" | IOSTANDARD = LVCMOS25;
NET "CD(48)"	LOC = "AT26" | IOSTANDARD = LVCMOS25;
NET "CD(47)"	LOC = "AL24" | IOSTANDARD = LVCMOS25;
NET "CD(46)"	LOC = "AU26" | IOSTANDARD = LVCMOS25;
NET "CD(45)"	LOC = "AL25" | IOSTANDARD = LVCMOS25;
NET "CD(44)"	LOC = "AT25" | IOSTANDARD = LVCMOS25;
NET "CD(43)"	LOC = "AM25" | IOSTANDARD = LVCMOS25;
NET "CD(42)"	LOC = "AR25" | IOSTANDARD = LVCMOS25;
NET "CD(41)"	LOC = "AP25" | IOSTANDARD = LVCMOS25;
NET "CD(40)"	LOC = "AU25" | IOSTANDARD = LVCMOS25;
NET "CD(39)"	LOC = "AP26" | IOSTANDARD = LVCMOS25;
NET "CD(38)"	LOC = "AR24" | IOSTANDARD = LVCMOS25;
NET "CD(37)"	LOC = "AR26" | IOSTANDARD = LVCMOS25;
NET "CD(36)"	LOC = "AR23" | IOSTANDARD = LVCMOS25;
NET "CD(35)"	LOC = "AP24" | IOSTANDARD = LVCMOS25;
NET "CD(34)"	LOC = "AU22" | IOSTANDARD = LVCMOS25;
NET "CD(33)"	LOC = "AN25" | IOSTANDARD = LVCMOS25;
NET "CD(32)"	LOC = "AT22" | IOSTANDARD = LVCMOS25;
NET "CD(31)"	LOC = "AN23" | IOSTANDARD = LVCMOS25;
NET "CD(30)"	LOC = "AT23" | IOSTANDARD = LVCMOS25;
NET "CD(29)"	LOC = "AN22" | IOSTANDARD = LVCMOS25;
NET "CD(28)"	LOC = "AR21" | IOSTANDARD = LVCMOS25;
NET "CD(27)"	LOC = "AG21" | IOSTANDARD = LVCMOS25;
NET "CD(26)"	LOC = "AT21" | IOSTANDARD = LVCMOS25;
NET "CD(25)"	LOC = "AH22" | IOSTANDARD = LVCMOS25;
NET "CD(24)"	LOC = "AU23" | IOSTANDARD = LVCMOS25;
NET "CD(23)"	LOC = "AL23" | IOSTANDARD = LVCMOS25;
NET "CD(22)"	LOC = "AU21" | IOSTANDARD = LVCMOS25;
NET "CD(21)"	LOC = "AG22" | IOSTANDARD = LVCMOS25;
NET "CD(20)"	LOC = "AP21" | IOSTANDARD = LVCMOS25;
NET "CD(19)"	LOC = "AM24" | IOSTANDARD = LVCMOS25;
NET "CD(18)"	LOC = "AU19" | IOSTANDARD = LVCMOS25;
NET "CD(17)"	LOC = "AM23" | IOSTANDARD = LVCMOS25;
NET "CD(16)"	LOC = "AP20" | IOSTANDARD = LVCMOS25;
NET "CD(15)"	LOC = "AJ22" | IOSTANDARD = LVCMOS25;
NET "CD(14)"	LOC = "AK21" | IOSTANDARD = LVCMOS25;
NET "CD(13)"	LOC = "AM22" | IOSTANDARD = LVCMOS25;
NET "CD(12)"	LOC = "AU18" | IOSTANDARD = LVCMOS25;
NET "CD(11)"	LOC = "AL21" | IOSTANDARD = LVCMOS25;
NET "CD(10)"	LOC = "AR18" | IOSTANDARD = LVCMOS25;
NET "CD(9)"	LOC = "AM21" | IOSTANDARD = LVCMOS25;
NET "CD(8)"	LOC = "AP19" | IOSTANDARD = LVCMOS25;
NET "CD(7)"	LOC = "AP22" | IOSTANDARD = LVCMOS25;
NET "CD(6)"	LOC = "AM20" | IOSTANDARD = LVCMOS25;
NET "CD(5)"	LOC = "AR22" | IOSTANDARD = LVCMOS25;
NET "CD(4)"	LOC = "AT18" | IOSTANDARD = LVCMOS25;
NET "CD(3)"	LOC = "AK22" | IOSTANDARD = LVCMOS25;
NET "CD(2)"	LOC = "AT17" | IOSTANDARD = LVCMOS25;
NET "CD(1)"	LOC = "AN21" | IOSTANDARD = LVCMOS25;
NET "CD(0)"	LOC = "AR19" | IOSTANDARD = LVCMOS25;

NET "COP(8)"	LOC = "AU14" | IOSTANDARD = LVCMOS25;
NET "COP(7)"	LOC = "AN15" | IOSTANDARD = LVCMOS25;
NET "COP(6)"	LOC = "AT14" | IOSTANDARD = LVCMOS25;
NET "COP(5)"	LOC = "AP15" | IOSTANDARD = LVCMOS25;
NET "COP(4)"	LOC = "AR16" | IOSTANDARD = LVCMOS25;
NET "COP(3)"	LOC = "AR15" | IOSTANDARD = LVCMOS25;
NET "COP(2)"	LOC = "AU17" | IOSTANDARD = LVCMOS25;
NET "COP(1)"	LOC = "AR14" | IOSTANDARD = LVCMOS25;
NET "COP(0)"	LOC = "AR17" | IOSTANDARD = LVCMOS25;

NET "COPV"	LOC = "AT15" | IOSTANDARD = LVCMOS25;
NET "CACK_N"	LOC = "AM29" | IOSTANDARD = LVCMOS25;
NET "CEOT"	LOC = "AK29" | IOSTANDARD = LVCMOS25;
NET "CMF"	LOC = "AP16" | IOSTANDARD = LVCMOS25;
NET "CMM_N"	LOC = "AU15" | IOSTANDARD = LVCMOS25;
NET "CMV"	LOC = "AP14" | IOSTANDARD = LVCMOS25;
NET "CFF"	LOC = "AL29" | IOSTANDARD = LVCMOS25;
NET "CPHASE"	LOC = "AK14" | IOSTANDARD = LVCMOS25;
NET "CRST_N"	LOC = "AN29" | IOSTANDARD = LVCMOS25;
NET "CMCLK"	LOC = "AU11" | IOSTANDARD = LVCMOS25;

NET "CAD(21)"	LOC = "AK18" | IOSTANDARD = LVCMOS25;
NET "CAD(20)"	LOC = "AH18" | IOSTANDARD = LVCMOS25;
NET "CAD(19)"	LOC = "AH17" | IOSTANDARD = LVCMOS25;
NET "CAD(18)"	LOC = "AH19" | IOSTANDARD = LVCMOS25;
NET "CAD(17)"	LOC = "AL19" | IOSTANDARD = LVCMOS25;
NET "CAD(16)"	LOC = "AJ19" | IOSTANDARD = LVCMOS25;
NET "CAD(15)"	LOC = "AK19" | IOSTANDARD = LVCMOS25;
NET "CAD(14)"	LOC = "AG17" | IOSTANDARD = LVCMOS25;
NET "CAD(13)"	LOC = "AH16" | IOSTANDARD = LVCMOS25;
NET "CAD(12)"	LOC = "AK16" | IOSTANDARD = LVCMOS25;
NET "CAD(11)"	LOC = "AM17" | IOSTANDARD = LVCMOS25;
NET "CAD(10)"	LOC = "AM15" | IOSTANDARD = LVCMOS25;
NET "CAD(9)"	LOC = "AL16" | IOSTANDARD = LVCMOS25;
NET "CAD(8)"	LOC = "AM18" | IOSTANDARD = LVCMOS25;
NET "CAD(7)"	LOC = "AM16" | IOSTANDARD = LVCMOS25;
NET "CAD(6)"	LOC = "AN17" | IOSTANDARD = LVCMOS25;
NET "CAD(5)"	LOC = "AL17" | IOSTANDARD = LVCMOS25;
NET "CAD(4)"	LOC = "AN18" | IOSTANDARD = LVCMOS25;
NET "CAD(3)"	LOC = "AP18" | IOSTANDARD = LVCMOS25;
NET "CAD(2)"	LOC = "AL18" | IOSTANDARD = LVCMOS25;
NET "CAD(1)"	LOC = "AM19" | IOSTANDARD = LVCMOS25;
NET "CAD(0)"	LOC = "AN19" | IOSTANDARD = LVCMOS25;

NET "CCE_N"	LOC = "AN14" | IOSTANDARD = LVCMOS25;
NET "CALE_N"	LOC = "AJ18" | IOSTANDARD = LVCMOS25;
NET "COE_N"	LOC = "AJ17" | IOSTANDARD = LVCMOS25;
NET "CWE_N"	LOC = "AM14" | IOSTANDARD = LVCMOS25;
NET "CSCLK"	LOC = "AH20" | IOSTANDARD = LVCMOS25;

NET "CSEN_N(3)"	LOC = "AP29" | IOSTANDARD = LVCMOS25;
NET "CSEN_N(2)"	LOC = "AT29" | IOSTANDARD = LVCMOS25;
NET "CSEN_N(1)"	LOC = "AH21" | IOSTANDARD = LVCMOS25;
NET "CSEN_N(0)"	LOC = "AR29" | IOSTANDARD = LVCMOS25;

### DDR SDRAM interface (page 13)

NET "DD(63)"	LOC = "D35" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(62)"	LOC = "E33" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(61)"	LOC = "F33" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(60)"	LOC = "C35" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(59)"	LOC = "G31" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(58)"	LOC = "H31" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(57)"	LOC = "K32" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(56)"	LOC = "K31" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(55)"	LOC = "N31" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(54)"	LOC = "M32" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(53)"	LOC = "K33" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(52)"	LOC = "K34" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(51)"	LOC = "H36" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(50)"	LOC = "H38" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(49)"	LOC = "J35" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(48)"	LOC = "H37" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(47)"	LOC = "L33" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(46)"	LOC = "L36" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(45)"	LOC = "L37" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(44)"	LOC = "L32" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(43)"	LOC = "M34" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(42)"	LOC = "P31" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(41)"	LOC = "P32" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(40)"	LOC = "L34" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(39)"	LOC = "N38" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(38)"	LOC = "N39" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(37)"	LOC = "N34" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(36)"	LOC = "N33" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(35)"	LOC = "T27" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(34)"	LOC = "R27" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(33)"	LOC = "P33" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(32)"	LOC = "P36" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(31)"	LOC = "AA35" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(30)"	LOC = "AA34" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(29)"	LOC = "Y28" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(28)"	LOC = "Y29" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(27)"	LOC = "AB32" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(26)"	LOC = "AA32" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(25)"	LOC = "AA33" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(24)"	LOC = "AB33" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(23)"	LOC = "AB28" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(22)"	LOC = "AD33" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(21)"	LOC = "AD36" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(20)"	LOC = "AD34" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(19)"	LOC = "AB31" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(18)"	LOC = "AD32" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(17)"	LOC = "AB30" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(16)"	LOC = "AC32" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(15)"	LOC = "AC31" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(14)"	LOC = "AE32" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(13)"	LOC = "AE33" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(12)"	LOC = "AC30" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(11)"	LOC = "AD30" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(10)"	LOC = "AD29" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(9)"	LOC = "AF34" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(8)"	LOC = "AF33" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(7)"	LOC = "AF32" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(6)"	LOC = "AF31" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(5)"	LOC = "AJ35" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(4)"	LOC = "AJ34" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(3)"	LOC = "AE29" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(2)"	LOC = "AE28" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(1)"	LOC = "AH34" | IOSTANDARD = SSTL2_II_DCI;
NET "DD(0)"	LOC = "AH33" | IOSTANDARD = SSTL2_II_DCI;

NET "DCB(7)"	LOC = "U31" | IOSTANDARD = SSTL2_II_DCI;
NET "DCB(6)"	LOC = "T33" | IOSTANDARD = SSTL2_II_DCI;
NET "DCB(5)"	LOC = "U30" | IOSTANDARD = SSTL2_II_DCI;
NET "DCB(4)"	LOC = "R38" | IOSTANDARD = SSTL2_II_DCI;
NET "DCB(3)"	LOC = "T36" | IOSTANDARD = SSTL2_II_DCI;
NET "DCB(2)"	LOC = "T38" | IOSTANDARD = SSTL2_II_DCI;
NET "DCB(1)"	LOC = "T37" | IOSTANDARD = SSTL2_II_DCI;
NET "DCB(0)"	LOC = "U36" | IOSTANDARD = SSTL2_II_DCI;

NET "DBA(2)"	LOC = "AL39" | IOSTANDARD = SSTL2_II_DCI;
NET "DBA(1)"	LOC = "AH29" | IOSTANDARD = SSTL2_II_DCI;
NET "DBA(0)"	LOC = "R34" | IOSTANDARD = SSTL2_II_DCI;

NET "DQS(17)"	LOC = "U34" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(16)"	LOC = "E34" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(15)"	LOC = "J33" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(14)"	LOC = "K38" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(13)"	LOC = "M37" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(12)"	LOC = "AB34" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(11)"	LOC = "AD37" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(10)"	LOC = "AE38" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(9)"	LOC = "AJ32" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(8)"	LOC = "U38" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(7)"	LOC = "H33" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(6)"	LOC = "K35" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(5)"	LOC = "L38" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(4)"	LOC = "N35" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(3)"	LOC = "AA30" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(2)"	LOC = "AE34" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(1)"	LOC = "AF35" | IOSTANDARD = SSTL2_II_DCI;
NET "DQS(0)"	LOC = "AJ36" | IOSTANDARD = SSTL2_II_DCI;

NET "DA(13)"	LOC = "AK36" | IOSTANDARD = SSTL2_II_DCI;
NET "DA(12)"	LOC = "AK35" | IOSTANDARD = SSTL2_II_DCI;
NET "DA(11)"	LOC = "AK38" | IOSTANDARD = SSTL2_II_DCI;
NET "DA(10)"	LOC = "AF28" | IOSTANDARD = SSTL2_II_DCI;
NET "DA(9)"	LOC = "AK39" | IOSTANDARD = SSTL2_II_DCI;
NET "DA(8)"	LOC = "AL34" | IOSTANDARD = SSTL2_II_DCI;
NET "DA(7)"	LOC = "AJ38" | IOSTANDARD = SSTL2_II_DCI;
NET "DA(6)"	LOC = "AK33" | IOSTANDARD = SSTL2_II_DCI;
NET "DA(5)"	LOC = "AJ39" | IOSTANDARD = SSTL2_II_DCI;
NET "DA(4)"	LOC = "AH38" | IOSTANDARD = SSTL2_II_DCI;
NET "DA(3)"	LOC = "AF39" | IOSTANDARD = SSTL2_II_DCI;
NET "DA(2)"	LOC = "AD28" | IOSTANDARD = SSTL2_II_DCI;
NET "DA(1)"	LOC = "AF38" | IOSTANDARD = SSTL2_II_DCI;
NET "DA(0)"	LOC = "AE27" | IOSTANDARD = SSTL2_II_DCI;

NET "DCS_N(3)"	LOC = "T29" | IOSTANDARD = SSTL2_II_DCI;
NET "DCS_N(2)"	LOC = "T30" | IOSTANDARD = SSTL2_II_DCI;
NET "DCS_N(1)"	LOC = "N37" | IOSTANDARD = SSTL2_II_DCI;
NET "DCS_N(0)"	LOC = "P37" | IOSTANDARD = SSTL2_II_DCI;

NET "DCLKE(1)"	LOC = "AL38" | IOSTANDARD = SSTL2_II_DCI;
NET "DCLKE(0)"	LOC = "AL33" | IOSTANDARD = SSTL2_II_DCI;

NET "DCAS_N"	LOC = "K37" | IOSTANDARD = SSTL2_II_DCI;
NET "DRAS_N"	LOC = "J37" | IOSTANDARD = SSTL2_II_DCI;
NET "DWE_N"	LOC = "J39" | IOSTANDARD = SSTL2_II_DCI;
NET "DCLK"	LOC = "AC38" | IOSTANDARD = SSTL2_II_DCI;
NET "DCLK_N"	LOC = "AC39" | IOSTANDARD = SSTL2_II_DCI;
NET "DCLK2"	LOC = "AJ21" | IOSTANDARD = SSTL2_II_DCI;
NET "RESDDR_N"	LOC = "AT34" | IOSTANDARD = LVCMOS25;
NET "DSDA"	LOC = "P39" | IOSTANDARD = LVCMOS25;
NET "DSCLK"	LOC = "V38" | IOSTANDARD = LVCMOS25;

### IO interface (page 22)

NET "X(39)"	LOC = "AE8" | IOSTANDARD = LVCMOS25;
NET "X(38)"	LOC = "AE9" | IOSTANDARD = LVCMOS25;
NET "X(37)"	LOC = "AD8" | IOSTANDARD = LVCMOS25;
NET "X(36)"	LOC = "AE7" | IOSTANDARD = LVCMOS25;
NET "X(35)"	LOC = "AC8" | IOSTANDARD = LVCMOS25;
NET "X(34)"	LOC = "AD7" | IOSTANDARD = LVCMOS25;
NET "X(33)"	LOC = "AD4" | IOSTANDARD = LVCMOS25;
NET "X(32)"	LOC = "AC4" | IOSTANDARD = LVCMOS25;
NET "X(31)"	LOC = "AC5" | IOSTANDARD = LVCMOS25;
NET "X(30)"	LOC = "AD6" | IOSTANDARD = LVCMOS25;
NET "X(29)"	LOC = "AB7" | IOSTANDARD = LVCMOS25;
NET "X(28)"	LOC = "AA4" | IOSTANDARD = LVCMOS25;
NET "X(27)"	LOC = "AB3" | IOSTANDARD = LVCMOS25;
NET "X(26)"	LOC = "AA3" | IOSTANDARD = LVCMOS25;
NET "X(25)"	LOC = "AD3" | IOSTANDARD = LVCMOS25;
NET "X(24)"	LOC = "AC1" | IOSTANDARD = LVCMOS25;
NET "X(23)"	LOC = "AC2" | IOSTANDARD = LVCMOS25;
NET "X(22)"	LOC = "AB1" | IOSTANDARD = LVCMOS25;
NET "X(21)"	LOC = "AB2" | IOSTANDARD = LVCMOS25;
NET "X(20)"	LOC = "AB4" | IOSTANDARD = LVCMOS25;
NET "X(19)"	LOC = "AB6" | IOSTANDARD = LVCMOS25;
NET "X(18)"	LOC = "AA6" | IOSTANDARD = LVCMOS25;
NET "X(17)"	LOC = "AA5" | IOSTANDARD = LVCMOS25;
NET "X(16)"	LOC = "AB5" | IOSTANDARD = LVCMOS25;
NET "X(15)"	LOC = "AC6" | IOSTANDARD = LVCMOS25;
NET "X(14)"	LOC = "AD2" | IOSTANDARD = LVCMOS25;
NET "X(13)"	LOC = "AE1" | IOSTANDARD = LVCMOS25;
NET "X(12)"	LOC = "AJ1" | IOSTANDARD = LVCMOS25;
NET "X(11)"	LOC = "AH2" | IOSTANDARD = LVCMOS25;
NET "X(10)"	LOC = "AG2" | IOSTANDARD = LVCMOS25;
NET "X(9)"	LOC = "AG1" | IOSTANDARD = LVCMOS25;
NET "X(8)"	LOC = "AF2" | IOSTANDARD = LVCMOS25;
NET "X(7)"	LOC = "AF1" | IOSTANDARD = LVCMOS25;
NET "X(6)"	LOC = "AE2" | IOSTANDARD = LVCMOS25;
NET "X(5)"	LOC = "AL1" | IOSTANDARD = LVCMOS25;
NET "X(4)"	LOC = "AK2" | IOSTANDARD = LVCMOS25;
NET "X(3)"	LOC = "AK1" | IOSTANDARD = LVCMOS25;
NET "X(2)"	LOC = "AJ2" | IOSTANDARD = LVCMOS25;
NET "X(1)"	LOC = "AL2" | IOSTANDARD = LVCMOS25;
NET "X(0)"	LOC = "AM2" | IOSTANDARD = LVCMOS25;

NET "IOS(103)"	LOC = "P9" | IOSTANDARD = LVCMOS25;
NET "IOS(102)"	LOC = "N7" | IOSTANDARD = LVCMOS25;
NET "IOS(101)"	LOC = "L8" | IOSTANDARD = LVCMOS25;
NET "IOS(100)"	LOC = "L7" | IOSTANDARD = LVCMOS25;
NET "IOS(99)"	LOC = "M7" | IOSTANDARD = LVCMOS25;
NET "IOS(98)"	LOC = "M8" | IOSTANDARD = LVCMOS25;
NET "IOS(97)"	LOC = "P10" | IOSTANDARD = LVCMOS25;
NET "IOS(96)"	LOC = "R11" | IOSTANDARD = LVCMOS25;
NET "IOS(95)"	LOC = "N10" | IOSTANDARD = LVCMOS25;
NET "IOS(94)"	LOC = "P11" | IOSTANDARD = LVCMOS25;
NET "IOS(93)"	LOC = "R12" | IOSTANDARD = LVCMOS25;
NET "IOS(92)"	LOC = "H6" | IOSTANDARD = LVCMOS25;
NET "IOS(91)"	LOC = "N11" | IOSTANDARD = LVCMOS25;
NET "IOS(90)"	LOC = "N9" | IOSTANDARD = LVCMOS25;
NET "IOS(89)"	LOC = "K8" | IOSTANDARD = LVCMOS25;
NET "IOS(88)"	LOC = "D5" | IOSTANDARD = LVCMOS25;
NET "IOS(87)"	LOC = "H7" | IOSTANDARD = LVCMOS25;
NET "IOS(86)"	LOC = "J7" | IOSTANDARD = LVCMOS25;
NET "IOS(85)"	LOC = "M10" | IOSTANDARD = LVCMOS25;
NET "IOS(84)"	LOC = "E6" | IOSTANDARD = LVCMOS25;
NET "IOS(83)"	LOC = "C5" | IOSTANDARD = LVCMOS25;
NET "IOS(82)"	LOC = "L9" | IOSTANDARD = LVCMOS25;
NET "IOS(81)"	LOC = "H8" | IOSTANDARD = LVCMOS25;
NET "IOS(80)"	LOC = "J9" | IOSTANDARD = LVCMOS25;
NET "IOS(79)"	LOC = "K10" | IOSTANDARD = LVCMOS25;
NET "IOS(78)"	LOC = "F7" | IOSTANDARD = LVCMOS25;
NET "IOS(77)"	LOC = "G10" | IOSTANDARD = LVCMOS25;
NET "IOS(76)"	LOC = "K9" | IOSTANDARD = LVCMOS25;
NET "IOS(75)"	LOC = "M11" | IOSTANDARD = LVCMOS25;
NET "IOS(74)"	LOC = "E7" | IOSTANDARD = LVCMOS25;
NET "IOS(73)"	LOC = "J10" | IOSTANDARD = LVCMOS25;
NET "IOS(72)"	LOC = "H9" | IOSTANDARD = LVCMOS25;
NET "IOS(71)"	LOC = "P12" | IOSTANDARD = LVCMOS25;
NET "IOS(70)"	LOC = "D11" | IOSTANDARD = LVCMOS25;
NET "IOS(69)"	LOC = "F10" | IOSTANDARD = LVCMOS25;
NET "IOS(68)"	LOC = "H11" | IOSTANDARD = LVCMOS25;
NET "IOS(67)"	LOC = "R13" | IOSTANDARD = LVCMOS25;
NET "IOS(66)"	LOC = "D10" | IOSTANDARD = LVCMOS25;
NET "IOS(65)"	LOC = "C10" | IOSTANDARD = LVCMOS25;
NET "IOS(64)"	LOC = "G11" | IOSTANDARD = LVCMOS25;
NET "IOS(63)"	LOC = "E10" | IOSTANDARD = LVCMOS25;
NET "IOS(62)"	LOC = "L12" | IOSTANDARD = LVCMOS25;
NET "IOS(61)"	LOC = "M19" | IOSTANDARD = LVCMOS25;
NET "IOS(60)"	LOC = "E11" | IOSTANDARD = LVCMOS25;
NET "IOS(59)"	LOC = "K12" | IOSTANDARD = LVCMOS25;
NET "IOS(58)"	LOC = "K11" | IOSTANDARD = LVCMOS25;
NET "IOS(57)"	LOC = "N19" | IOSTANDARD = LVCMOS25;
NET "IOS(56)"	LOC = "F11" | IOSTANDARD = LVCMOS25;
NET "IOS(55)"	LOC = "H12" | IOSTANDARD = LVCMOS25;
NET "IOS(54)"	LOC = "L13" | IOSTANDARD = LVCMOS25;
NET "IOS(53)"	LOC = "L18" | IOSTANDARD = LVCMOS25;
NET "IOS(52)"	LOC = "M17" | IOSTANDARD = LVCMOS25;
NET "IOS(51)"	LOC = "K14" | IOSTANDARD = LVCMOS25;
NET "IOS(50)"	LOC = "M20" | IOSTANDARD = LVCMOS25;
NET "IOS(49)"	LOC = "K18" | IOSTANDARD = LVCMOS25;
NET "IOS(48)"	LOC = "M18" | IOSTANDARD = LVCMOS25;
NET "IOS(47)"	LOC = "J14" | IOSTANDARD = LVCMOS25;
NET "IOS(46)"	LOC = "M14" | IOSTANDARD = LVCMOS25;
NET "IOS(45)"	LOC = "M13" | IOSTANDARD = LVCMOS25;
NET "IOS(44)"	LOC = "M15" | IOSTANDARD = LVCMOS25;
NET "IOS(43)"	LOC = "K19" | IOSTANDARD = LVCMOS25;
NET "IOS(42)"	LOC = "N17" | IOSTANDARD = LVCMOS25;
NET "IOS(41)"	LOC = "L17" | IOSTANDARD = LVCMOS25;
NET "IOS(40)"	LOC = "K16" | IOSTANDARD = LVCMOS25;
NET "IOS(39)"	LOC = "L19" | IOSTANDARD = LVCMOS25;
NET "IOS(38)"	LOC = "N18" | IOSTANDARD = LVCMOS25;
NET "IOS(37)"	LOC = "J18" | IOSTANDARD = LVCMOS25;
NET "IOS(36)"	LOC = "M16" | IOSTANDARD = LVCMOS25;
NET "IOS(35)"	LOC = "F15" | IOSTANDARD = LVCMOS25;
NET "IOS(34)"	LOC = "D14" | IOSTANDARD = LVCMOS25;
NET "IOS(33)"	LOC = "H17" | IOSTANDARD = LVCMOS25;
NET "IOS(32)"	LOC = "G15" | IOSTANDARD = LVCMOS25;
NET "IOS(31)"	LOC = "F16" | IOSTANDARD = LVCMOS25;
NET "IOS(30)"	LOC = "F14" | IOSTANDARD = LVCMOS25;
NET "IOS(29)"	LOC = "G17" | IOSTANDARD = LVCMOS25;
NET "IOS(28)"	LOC = "H16" | IOSTANDARD = LVCMOS25;
NET "IOS(27)"	LOC = "E14" | IOSTANDARD = LVCMOS25;
NET "IOS(26)"	LOC = "J17" | IOSTANDARD = LVCMOS25;
NET "IOS(25)"	LOC = "D15" | IOSTANDARD = LVCMOS25;
NET "IOS(24)"	LOC = "H14" | IOSTANDARD = LVCMOS25;
NET "IOS(23)"	LOC = "G18" | IOSTANDARD = LVCMOS25;
NET "IOS(22)"	LOC = "H18" | IOSTANDARD = LVCMOS25;
NET "IOS(21)"	LOC = "E15" | IOSTANDARD = LVCMOS25;
NET "IOS(20)"	LOC = "G14" | IOSTANDARD = LVCMOS25;
NET "IOS(19)"	LOC = "H19" | IOSTANDARD = LVCMOS25;
NET "IOS(18)"	LOC = "F18" | IOSTANDARD = LVCMOS25;
NET "IOS(17)"	LOC = "E18" | IOSTANDARD = LVCMOS25;
NET "IOS(16)"	LOC = "E16" | IOSTANDARD = LVCMOS25;
NET "IOS(15)"	LOC = "J20" | IOSTANDARD = LVCMOS25;
NET "IOS(14)"	LOC = "J19" | IOSTANDARD = LVCMOS25;
NET "IOS(13)"	LOC = "F19" | IOSTANDARD = LVCMOS25;
NET "IOS(12)"	LOC = "E17" | IOSTANDARD = LVCMOS25;
NET "IOS(11)"	LOC = "C14" | IOSTANDARD = LVCMOS25;
NET "IOS(10)"	LOC = "C18" | IOSTANDARD = LVCMOS25;
NET "IOS(9)"	LOC = "D18" | IOSTANDARD = LVCMOS25;
NET "IOS(8)"	LOC = "C17" | IOSTANDARD = LVCMOS25;
NET "IOS(7)"	LOC = "E19" | IOSTANDARD = LVCMOS25;
NET "IOS(6)"	LOC = "D19" | IOSTANDARD = LVCMOS25;
NET "IOS(5)"	LOC = "C11" | IOSTANDARD = LVCMOS25;
NET "IOS(4)"	LOC = "C15" | IOSTANDARD = LVCMOS25;
NET "IOS(3)"	LOC = "L21" | IOSTANDARD = LVCMOS25;
NET "IOS(2)"	LOC = "K20" | IOSTANDARD = LVCMOS25;
NET "IOS(1)"	LOC = "N20" | IOSTANDARD = LVCMOS25;
NET "IOS(0)"	LOC = "D20" | IOSTANDARD = LVCMOS25;

### SSRAM0 interface (page 15)

NET "S0A(19)"	LOC = "AH4" | IOSTANDARD = LVCMOS25;
NET "S0A(18)"	LOC = "AH6" | IOSTANDARD = LVCMOS25;
NET "S0A(17)"	LOC = "AG11" | IOSTANDARD = LVCMOS25;
NET "S0A(16)"	LOC = "AG10" | IOSTANDARD = LVCMOS25;
NET "S0A(15)"	LOC = "AF10" | IOSTANDARD = LVCMOS25;
NET "S0A(14)"	LOC = "AH8" | IOSTANDARD = LVCMOS25;
NET "S0A(13)"	LOC = "AF9" | IOSTANDARD = LVCMOS25;
NET "S0A(12)"	LOC = "AH7" | IOSTANDARD = LVCMOS25;
NET "S0A(11)"	LOC = "AF5" | IOSTANDARD = LVCMOS25;
NET "S0A(10)"	LOC = "AG5" | IOSTANDARD = LVCMOS25;
NET "S0A(9)"	LOC = "AH14" | IOSTANDARD = LVCMOS25;
NET "S0A(8)"	LOC = "AM8" | IOSTANDARD = LVCMOS25;
NET "S0A(7)"	LOC = "AL10" | IOSTANDARD = LVCMOS25;
NET "S0A(6)"	LOC = "AJ12" | IOSTANDARD = LVCMOS25;
NET "S0A(5)"	LOC = "AJ3" | IOSTANDARD = LVCMOS25;
NET "S0A(4)"	LOC = "AJ5" | IOSTANDARD = LVCMOS25;
NET "S0A(3)"	LOC = "AK3" | IOSTANDARD = LVCMOS25;
NET "S0A(2)"	LOC = "AL3" | IOSTANDARD = LVCMOS25;
NET "S0A(1)"	LOC = "AK4" | IOSTANDARD = LVCMOS25;
NET "S0A(0)"	LOC = "AM3" | IOSTANDARD = LVCMOS25;

NET "S0ADSP_N"	LOC = "AK9" | IOSTANDARD = LVCMOS25;
NET "S0ADSC_N"	LOC = "AL12" | IOSTANDARD = LVCMOS25;
NET "S0ADV_N"	LOC = "AM12" | IOSTANDARD = LVCMOS25;
NET "S0CS1_N"	LOC = "AK10" | IOSTANDARD = LVCMOS25;
NET "S0CS2_N"	LOC = "AJ13" | IOSTANDARD = LVCMOS25;
NET "S0GW_N"	LOC = "AK7" | IOSTANDARD = LVCMOS25;
NET "S0BW_N"	LOC = "AM11" | IOSTANDARD = LVCMOS25;

NET "S0WE_N(3)"	LOC = "AM9" | IOSTANDARD = LVCMOS25;
NET "S0WE_N(2)"	LOC = "AM7" | IOSTANDARD = LVCMOS25;
NET "S0WE_N(1)"	LOC = "AL9" | IOSTANDARD = LVCMOS25;
NET "S0WE_N(0)"	LOC = "AL7" | IOSTANDARD = LVCMOS25;

NET "S0OE_N"	LOC = "AM6" | IOSTANDARD = LVCMOS25;
NET "SCLK0"	LOC = "AL11" | IOSTANDARD = LVCMOS25;

NET "S0D(35)"	LOC = "AM4" | IOSTANDARD = LVCMOS25;
NET "S0D(34)"	LOC = "AT11" | IOSTANDARD = LVCMOS25;
NET "S0D(33)"	LOC = "AH10" | IOSTANDARD = LVCMOS25;
NET "S0D(32)"	LOC = "AH3" | IOSTANDARD = LVCMOS25;
NET "S0D(31)"	LOC = "AJ6" | IOSTANDARD = LVCMOS25;
NET "S0D(30)"	LOC = "AN9" | IOSTANDARD = LVCMOS25;
NET "S0D(29)"	LOC = "AN6" | IOSTANDARD = LVCMOS25;
NET "S0D(28)"	LOC = "AN7" | IOSTANDARD = LVCMOS25;
NET "S0D(27)"	LOC = "AP7" | IOSTANDARD = LVCMOS25;
NET "S0D(26)"	LOC = "AR7" | IOSTANDARD = LVCMOS25;
NET "S0D(25)"	LOC = "AG3" | IOSTANDARD = LVCMOS25;
NET "S0D(24)"	LOC = "AR6" | IOSTANDARD = LVCMOS25;
NET "S0D(23)"	LOC = "AN11" | IOSTANDARD = LVCMOS25;
NET "S0D(22)"	LOC = "AT6" | IOSTANDARD = LVCMOS25;
NET "S0D(21)"	LOC = "AR8" | IOSTANDARD = LVCMOS25;
NET "S0D(20)"	LOC = "AT8" | IOSTANDARD = LVCMOS25;
NET "S0D(19)"	LOC = "AP11" | IOSTANDARD = LVCMOS25;
NET "S0D(18)"	LOC = "AR11" | IOSTANDARD = LVCMOS25;
NET "S0D(17)"	LOC = "AU10" | IOSTANDARD = LVCMOS25;
NET "S0D(16)"	LOC = "AT10" | IOSTANDARD = LVCMOS25;
NET "S0D(15)"	LOC = "AH15" | IOSTANDARD = LVCMOS25;
NET "S0D(14)"	LOC = "AK8" | IOSTANDARD = LVCMOS25;
NET "S0D(13)"	LOC = "AH13" | IOSTANDARD = LVCMOS25;
NET "S0D(12)"	LOC = "AJ8" | IOSTANDARD = LVCMOS25;
NET "S0D(11)"	LOC = "AH11" | IOSTANDARD = LVCMOS25;
NET "S0D(10)"	LOC = "AJ7" | IOSTANDARD = LVCMOS25;
NET "S0D(9)"	LOC = "AJ9" | IOSTANDARD = LVCMOS25;
NET "S0D(8)"	LOC = "AK6" | IOSTANDARD = LVCMOS25;
NET "S0D(7)"	LOC = "AK5" | IOSTANDARD = LVCMOS25;
NET "S0D(6)"	LOC = "AL6" | IOSTANDARD = LVCMOS25;
NET "S0D(5)"	LOC = "AL5" | IOSTANDARD = LVCMOS25;
NET "S0D(4)"	LOC = "AG9" | IOSTANDARD = LVCMOS25;
NET "S0D(3)"	LOC = "AF12" | IOSTANDARD = LVCMOS25;
NET "S0D(2)"	LOC = "AG7" | IOSTANDARD = LVCMOS25;
NET "S0D(1)"	LOC = "AG6" | IOSTANDARD = LVCMOS25;
NET "S0D(0)"	LOC = "AF11" | IOSTANDARD = LVCMOS25;

### SSRAM1 interface (page 15)

NET "S1A(19)"	LOC = "V2" | IOSTANDARD = LVCMOS25;
NET "S1A(18)"	LOC = "L2" | IOSTANDARD = LVCMOS25;
NET "S1A(17)"	LOC = "H4" | IOSTANDARD = LVCMOS25;
NET "S1A(16)"	LOC = "H3" | IOSTANDARD = LVCMOS25;
NET "S1A(15)"	LOC = "H2" | IOSTANDARD = LVCMOS25;
NET "S1A(14)"	LOC = "J2" | IOSTANDARD = LVCMOS25;
NET "S1A(13)"	LOC = "J1" | IOSTANDARD = LVCMOS25;
NET "S1A(12)"	LOC = "K2" | IOSTANDARD = LVCMOS25;
NET "S1A(11)"	LOC = "K1" | IOSTANDARD = LVCMOS25;
NET "S1A(10)"	LOC = "L1" | IOSTANDARD = LVCMOS25;
NET "S1A(9)"	LOC = "R4" | IOSTANDARD = LVCMOS25;
NET "S1A(8)"	LOC = "R3" | IOSTANDARD = LVCMOS25;
NET "S1A(7)"	LOC = "N6" | IOSTANDARD = LVCMOS25;
NET "S1A(6)"	LOC = "P7" | IOSTANDARD = LVCMOS25;
NET "S1A(5)"	LOC = "R2" | IOSTANDARD = LVCMOS25;
NET "S1A(4)"	LOC = "R1" | IOSTANDARD = LVCMOS25;
NET "S1A(3)"	LOC = "P1" | IOSTANDARD = LVCMOS25;
NET "S1A(2)"	LOC = "P2" | IOSTANDARD = LVCMOS25;
NET "S1A(1)"	LOC = "N1" | IOSTANDARD = LVCMOS25;
NET "S1A(0)"	LOC = "N2" | IOSTANDARD = LVCMOS25;

NET "S1ADSP_N"	LOC = "T4" | IOSTANDARD = LVCMOS25;
NET "S1ADSC_N"	LOC = "U4" | IOSTANDARD = LVCMOS25;
NET "S1ADV_N"	LOC = "R5" | IOSTANDARD = LVCMOS25;
NET "S1CS1_N"	LOC = "P8" | IOSTANDARD = LVCMOS25;
NET "S1CS2_N"	LOC = "V3" | IOSTANDARD = LVCMOS25;
NET "S1GW_N"	LOC = "V4" | IOSTANDARD = LVCMOS25;
NET "S1BW_N"	LOC = "T3" | IOSTANDARD = LVCMOS25;

NET "S1WE_N(3)"	LOC = "R10" | IOSTANDARD = LVCMOS25;
NET "S1WE_N(2)"	LOC = "Y3" | IOSTANDARD = LVCMOS25;
NET "S1WE_N(1)"	LOC = "Y4" | IOSTANDARD = LVCMOS25;
NET "S1WE_N(0)"	LOC = "W3" | IOSTANDARD = LVCMOS25;

NET "S1OE_N"	LOC = "U5" | IOSTANDARD = LVCMOS25;
NET "SCLK1"	LOC = "W4" | IOSTANDARD = LVCMOS25;

NET "S1D(31)"	LOC = "T2" | IOSTANDARD = LVCMOS25;
NET "S1D(30)"	LOC = "U2" | IOSTANDARD = LVCMOS25;
NET "S1D(29)"	LOC = "W7" | IOSTANDARD = LVCMOS25;
NET "S1D(28)"	LOC = "W6" | IOSTANDARD = LVCMOS25;
NET "S1D(27)"	LOC = "W5" | IOSTANDARD = LVCMOS25;
NET "S1D(26)"	LOC = "U8" | IOSTANDARD = LVCMOS25;
NET "S1D(25)"	LOC = "V5" | IOSTANDARD = LVCMOS25;
NET "S1D(24)"	LOC = "V6" | IOSTANDARD = LVCMOS25;
NET "S1D(23)"	LOC = "V7" | IOSTANDARD = LVCMOS25;
NET "S1D(22)"	LOC = "U6" | IOSTANDARD = LVCMOS25;
NET "S1D(21)"	LOC = "U9" | IOSTANDARD = LVCMOS25;
NET "S1D(20)"	LOC = "T7" | IOSTANDARD = LVCMOS25;
NET "S1D(19)"	LOC = "T8" | IOSTANDARD = LVCMOS25;
NET "S1D(18)"	LOC = "R6" | IOSTANDARD = LVCMOS25;
NET "S1D(17)"	LOC = "R8" | IOSTANDARD = LVCMOS25;
NET "S1D(16)"	LOC = "N5" | IOSTANDARD = LVCMOS25;
NET "S1D(15)"	LOC = "P3" | IOSTANDARD = LVCMOS25;
NET "S1D(14)"	LOC = "P4" | IOSTANDARD = LVCMOS25;
NET "S1D(13)"	LOC = "P5" | IOSTANDARD = LVCMOS25;
NET "S1D(12)"	LOC = "N3" | IOSTANDARD = LVCMOS25;
NET "S1D(11)"	LOC = "M3" | IOSTANDARD = LVCMOS25;
NET "S1D(10)"	LOC = "M4" | IOSTANDARD = LVCMOS25;
NET "S1D(9)"	LOC = "L3" | IOSTANDARD = LVCMOS25;
NET "S1D(8)"	LOC = "L4" | IOSTANDARD = LVCMOS25;
NET "S1D(7)"	LOC = "M6" | IOSTANDARD = LVCMOS25;
NET "S1D(6)"	LOC = "K3" | IOSTANDARD = LVCMOS25;
NET "S1D(5)"	LOC = "K7" | IOSTANDARD = LVCMOS25;
NET "S1D(4)"	LOC = "K6" | IOSTANDARD = LVCMOS25;
NET "S1D(3)"	LOC = "J5" | IOSTANDARD = LVCMOS25;
NET "S1D(2)"	LOC = "L6" | IOSTANDARD = LVCMOS25;
NET "S1D(1)"	LOC = "K5" | IOSTANDARD = LVCMOS25;
NET "S1D(0)"	LOC = "J3" | IOSTANDARD = LVCMOS25;

### SSRAM2 interface (page 15)

NET "S2A(19)"	LOC = "C22" | IOSTANDARD = LVCMOS25;
NET "S2A(18)"	LOC = "E29" | IOSTANDARD = LVCMOS25;
NET "S2A(17)"	LOC = "C29" | IOSTANDARD = LVCMOS25;
NET "S2A(16)"	LOC = "C26" | IOSTANDARD = LVCMOS25;
NET "S2A(15)"	LOC = "C25" | IOSTANDARD = LVCMOS25;
NET "S2A(14)"	LOC = "D30" | IOSTANDARD = LVCMOS25;
NET "S2A(13)"	LOC = "E30" | IOSTANDARD = LVCMOS25;
NET "S2A(12)"	LOC = "D29" | IOSTANDARD = LVCMOS25;
NET "S2A(11)"	LOC = "D28" | IOSTANDARD = LVCMOS25;
NET "S2A(10)"	LOC = "F29" | IOSTANDARD = LVCMOS25;
NET "S2A(9)"	LOC = "J25" | IOSTANDARD = LVCMOS25;
NET "S2A(8)"	LOC = "H24" | IOSTANDARD = LVCMOS25;
NET "S2A(7)"	LOC = "L23" | IOSTANDARD = LVCMOS25;
NET "S2A(6)"	LOC = "N22" | IOSTANDARD = LVCMOS25;
NET "S2A(5)"	LOC = "E24" | IOSTANDARD = LVCMOS25;
NET "S2A(4)"	LOC = "D25" | IOSTANDARD = LVCMOS25;
NET "S2A(3)"	LOC = "E25" | IOSTANDARD = LVCMOS25;
NET "S2A(2)"	LOC = "E26" | IOSTANDARD = LVCMOS25;
NET "S2A(1)"	LOC = "D26" | IOSTANDARD = LVCMOS25;
NET "S2A(0)"	LOC = "F26" | IOSTANDARD = LVCMOS25;

NET "S2ADSP_N"	LOC = "H23" | IOSTANDARD = LVCMOS25;
NET "S2ADSC_N"	LOC = "G23" | IOSTANDARD = LVCMOS25;
NET "S2ADV_N"	LOC = "J24" | IOSTANDARD = LVCMOS25;
NET "S2CS1_N"	LOC = "K25" | IOSTANDARD = LVCMOS25;
NET "S2CS2_N"	LOC = "M26" | IOSTANDARD = LVCMOS25;
NET "S2GW_N"	LOC = "H21" | IOSTANDARD = LVCMOS25;
NET "S2BW_N"	LOC = "G22" | IOSTANDARD = LVCMOS25;

NET "S2WE_N(3)"	LOC = "M23" | IOSTANDARD = LVCMOS25;
NET "S2WE_N(2)"	LOC = "N23" | IOSTANDARD = LVCMOS25;
NET "S2WE_N(1)"	LOC = "M24" | IOSTANDARD = LVCMOS25;
NET "S2WE_N(0)"	LOC = "M25" | IOSTANDARD = LVCMOS25;

NET "S2OE_N"	LOC = "H22" | IOSTANDARD = LVCMOS25;
NET "SCLK2"	LOC = "J21" | IOSTANDARD = LVCMOS25;

NET "S2D(31)"	LOC = "F21" | IOSTANDARD = LVCMOS25;
NET "S2D(30)"	LOC = "D22" | IOSTANDARD = LVCMOS25;
NET "S2D(29)"	LOC = "E22" | IOSTANDARD = LVCMOS25;
NET "S2D(28)"	LOC = "F22" | IOSTANDARD = LVCMOS25;
NET "S2D(27)"	LOC = "E23" | IOSTANDARD = LVCMOS25;
NET "S2D(26)"	LOC = "F24" | IOSTANDARD = LVCMOS25;
NET "S2D(25)"	LOC = "E21" | IOSTANDARD = LVCMOS25;
NET "S2D(24)"	LOC = "D21" | IOSTANDARD = LVCMOS25;
NET "S2D(23)"	LOC = "E20" | IOSTANDARD = LVCMOS25;
NET "S2D(22)"	LOC = "M21" | IOSTANDARD = LVCMOS25;
NET "S2D(21)"	LOC = "K22" | IOSTANDARD = LVCMOS25;
NET "S2D(20)"	LOC = "M22" | IOSTANDARD = LVCMOS25;
NET "S2D(19)"	LOC = "N21" | IOSTANDARD = LVCMOS25;
NET "S2D(18)"	LOC = "L22" | IOSTANDARD = LVCMOS25;
NET "S2D(17)"	LOC = "J23" | IOSTANDARD = LVCMOS25;
NET "S2D(16)"	LOC = "J22" | IOSTANDARD = LVCMOS25;
NET "S2D(15)"	LOC = "H25" | IOSTANDARD = LVCMOS25;
NET "S2D(14)"	LOC = "F25" | IOSTANDARD = LVCMOS25;
NET "S2D(13)"	LOC = "L27" | IOSTANDARD = LVCMOS25;
NET "S2D(12)"	LOC = "M27" | IOSTANDARD = LVCMOS25;
NET "S2D(11)"	LOC = "L28" | IOSTANDARD = LVCMOS25;
NET "S2D(10)"	LOC = "J28" | IOSTANDARD = LVCMOS25;
NET "S2D(9)"	LOC = "H28" | IOSTANDARD = LVCMOS25;
NET "S2D(8)"	LOC = "K29" | IOSTANDARD = LVCMOS25;
NET "S2D(7)"	LOC = "K28" | IOSTANDARD = LVCMOS25;
NET "S2D(6)"	LOC = "J29" | IOSTANDARD = LVCMOS25;
NET "S2D(5)"	LOC = "K30" | IOSTANDARD = LVCMOS25;
NET "S2D(4)"	LOC = "G29" | IOSTANDARD = LVCMOS25;
NET "S2D(3)"	LOC = "J30" | IOSTANDARD = LVCMOS25;
NET "S2D(2)"	LOC = "F30" | IOSTANDARD = LVCMOS25;
NET "S2D(1)"	LOC = "G30" | IOSTANDARD = LVCMOS25;
NET "S2D(0)"	LOC = "C30" | IOSTANDARD = LVCMOS25;

### RocketIO interface (page 22)

NET "TXN3"	LOC = "AW7";
NET "TXP3"	LOC = "AW6";
NET "RXP3"	LOC = "AW5";
NET "RXN3"	LOC = "AW4";

NET "TXN2"	LOC = "AW11";
NET "TXP2"	LOC = "AW10";
NET "RXP2"	LOC = "AW9";
NET "RXN2"	LOC = "AW8";

NET "TXN1"	LOC = "A11";
NET "TXP1"	LOC = "A10";
NET "RXP1"	LOC = "A9";
NET "RXN1"	LOC = "A8";

NET "TXN0"	LOC = "A7";
NET "TXP0"	LOC = "A6";
NET "RXP0"	LOC = "A5";
NET "RXN0"	LOC = "A4";

############## Project dependant part ########################

NET "X(*)" TNM = "PCI_GRP";
TIMEGRP "PCI_GRP" OFFSET = OUT 10 ns AFTER  "LCLKF";
TIMEGRP "PCI_GRP" OFFSET = IN  8 ns BEFORE "LCLKF"; 

# --------------------- registers in IOB ----------------------
# DDR registers
INST *regiob* IOB = TRUE;

# ------------------- Local Bus constrains  -------------------
# LB-to-IOS bus IOB registers
INST *IOS_LB_BRIDGE*OUT* IOB = TRUE;
INST *IOS_LB_BRIDGE*IN*  IOB = TRUE;
INST *IOS_LB_BRIDGE*reg* IOB = TRUE;

INST "IOS(102)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(101)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(100)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(99)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(98)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(97)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(96)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(95)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(94)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(93)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(92)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(91)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(90)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(88)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(87)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(86)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(84)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(82)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(81)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(80)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(79)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(78)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(77)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;
INST "IOS(76)" TNM = "LB_IOS_GRP" | DRIVE = 24 | SLEW = FAST;

TIMESPEC "TS_LB_IOS_IN" = FROM "LB_IOS_GRP" TO "FFS" 3 ns;
TIMESPEC "TS_LB_IOS_OUT" = FROM "FFS" TO "LB_IOS_GRP" 3 ns;

TIMEGRP "LBCONN_GRP"  = FFS(*LBCONN*) FFS(*LB_CONN*) FFS(*LBCOMM*) FFS(*IOS_LB_BRIDGE*) FFS(*LB_BRIDGE_I*);
NET "*LBAD(*)" TPTHRU = LBAD_THRU;
NET "*LBRDY" TPTHRU = LBAD_THRU;

TIMESPEC "TS_LB_FALSE" = FROM LBCONN_GRP THRU LBAD_THRU TO LBCONN_GRP TIG;

# ------------------ Aurora constraints ----------------------
# Constrain location of the registers in the Phase Align Module. This insures
# correct timing with respect to the MGT's enable comma align signal
INST *aurvc_test_u*lane_0_phase_align_i_reg_phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_0_GRP";
AREA_GROUP "PHASE_ALIGN_0_GRP" RANGE=SLICE_X110Y168:SLICE_X111Y169;
INST *aurvc_test_u*lane_1_phase_align_i_reg_phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_1_GRP";
AREA_GROUP "PHASE_ALIGN_1_GRP" RANGE=SLICE_X110Y168:SLICE_X111Y169;

# Place lane_0_mgt_i at location X7Y1 (it corresponds to RIO port 0)
INST *aurvc_test_u*lane_0_mgt_i LOC=GT_X6Y1;
INST *aurvc_test_u*lane_1_mgt_i LOC=GT_X7Y1;

