# combov2_tsu.ucf: Constraints for timestamp unit at ComboV2 cards.
# Copyright (C) 2010  CESNET
# Authors: Viktor Pus <pus@liberouter.org>
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1. Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in
#    the documentation and/or other materials provided with the
#    distribution.
# 3. Neither the name of the Company nor the names of its contributors
#    may be used to endorse or promote products derived from this
#    software without specific prior written permission.
#
# This software is provided ``as is'', and any express or implied
# warranties, including, but not limited to, the implied warranties of
# merchantability and fitness for a particular purpose are disclaimed.
# In no event shall the company or contributors be liable for any
# direct, indirect, incidental, special, exemplary, or consequential
# damages (including, but not limited to, procurement of substitute
# goods or services; loss of use, data, or profits; or business
# interruption) however caused and on any theory of liability, whether
# in contract, strict liability, or tort (including negligence or
# otherwise) arising in any way out of the use of this software, even
# if advised of the possibility of such damage.
#
# $Id: combov2_tsu.ucf 13036 2010-03-02 16:11:14Z pus $
#
##############################################################################
# Include this file into your .ucf if you want to use the TimesStamp
# Unit for ComboV2 cards.
# TSU usage may be switched on/off in the combov2_user_const package
# by the TIMESTAMP_UNIT constant.
##############################################################################

# pps_mux control register is reclocked to another clock domain
# -> ignore timing at the reclock path
## Commented out, because clock domains are independent 
## (cross-domain clock analysis is not performed) and we don't really
## care about delay here.
#INST "*pps_mux_cntrl" TNM = "TNM_PPS_MUX_CNTRL";
#INST "*pps_mux_cntrl_reclock*" TNM = "TNM_TSU_PPS_MUX_CNTRL";
#TIMESPEC TSig_ts_pps_mux = FROM "TNM_PPS_MUX_CNTRL" TO "TNM_TSU_PPS_MUX_CNTRL" TIG;

# BUFGMUX control register is reclocked to another clock domain
# -> ignore timing at the reclock path
INST "*clk_mux_reg" TNM = "TNM_CLK_MUX_REG";
INST "*clk_mux_reg_reclock*" TNM = "TNM_CLK_MUX_REG_RECLOCK0";
TIMESPEC TSig_ts_clk_mux = FROM "TNM_CLK_MUX_REG" TO "TNM_CLK_MUX_REG_RECLOCK0" TIG;

# MSB of PTM clk activity counter signal is reclocked to another clock domain
# -> ignore timing at the reclock path
INST "*ptm_prec_cnt_3" TNM = "TNM_PTM_PREC_CNT";
INST "*mi_ptm_prec_now" TNM = "TNM_MI_PTM_PREC_REC0";
TIMESPEC TSig_ptm_to_mi_clk = FROM "TNM_PTM_PREC_CNT" TO "TNM_MI_PTM_PREC_REC0" TIG;

# MSB of Combo clk activity counter signal is reclocked to another clock domain
# -> ignore timing at the reclock path
INST "*cv_ref_cnt_3" TNM = "TNM_CV_REF_CNT";
INST "*mi_cv_ref_now" TNM = "TNM_MI_CV_REF_REC0";
TIMESPEC TSig_cv_to_mi_clk = FROM "TNM_CV_REF_CNT" TO "TNM_MI_CV_REF_REC0" TIG;

# constrain on CLK signal from precise crystal on PTM card
# (160 MHz)
NET "LSC3_D_P<8>" PERIOD = 6.25 ns;
NET "LSC3_D_N<8>" PERIOD = 6.25 ns;

# Constraint from LSC3_D_x<8> doesn't propagate here -> constrain again
NET "ptm_clk" PERIOD = 6.25 ns;

# Severely suboptimal timing here, avoid map ERROR
NET "LSC3_D_P<8>" CLOCK_DEDICATED_ROUTE = FALSE;

# Propagation through BUFGMUX does not use the shorter period of two inputs 
# -> must be specified explicitly.
NET "*ts_clk" PERIOD = 6 ns;

# There ale clock domain crossings in the MI32 interface.
# async modules take care about safe data handover, we only need to make sure
# that there are no excesively long routes.
NET "*ts_clk" TNM = "TNM_TS_CLK";
TIMESPEC TSmaxdelay_tsu_in  = FROM "TNM_TS_CLK" TO "TNM_ICS_CLK" 8 ns datapathonly;
TIMESPEC TSmaxdelay_tsu_out = FROM "TNM_ICS_CLK" TO "TNM_TS_CLK" 8 ns datapathonly;

