#
# fpga.ucf: UCF for FPGA XC2V3000-8000(BF957) in design COMBO6 1.1
# Copyright (C) 2003 CESNET
# Authors: Radomir Kokotek <rk811213@pha.pvtnet.cz>
#          Rudolf Cejka <cejkar@fit.vutbr.cz>
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1. Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in
#    the documentation and/or other materials provided with the
#    distribution.
# 3. Neither the name of the Company nor the names of its contributors
#    may be used to endorse or promote products derived from this
#    software without specific prior written permission.
#
# This software is provided ``as is'', and any express or implied
# warranties, including, but not limited to, the implied warranties of
# merchantability and fitness for a particular purpose are disclaimed.
# In no event shall the company or contributors be liable for any
# direct, indirect, incidental, special, exemplary, or consequential
# damages (including, but not limited to, procurement of substitute
# goods or services; loss of use, data, or profits; or business
# interruption) however caused and on any theory of liability, whether
# in contract, strict liability, or tort (including negligence or
# otherwise) arising in any way out of the use of this software, even
# if advised of the possibility of such damage.
#
# $Id: top_level.ucf 62 2007-08-02 10:20:36Z kosek $
#

CONFIG PART = 2v3000-4-bf957;

### Clock signal

NET "LCLKF"	LOC = "AL15" | IOSTANDARD = LVCMOS33 | PERIOD=50 MHz HIGH 50%;
# GCLK

### LEDs indicators (zero active)

NET "XLED(3)"	LOC = "AK20" | IOSTANDARD = LVCMOS33;
NET "XLED(2)"	LOC = "AL20" | IOSTANDARD = LVCMOS33;
NET "XLED(1)"	LOC = "AK21" | IOSTANDARD = LVCMOS33;
NET "XLED(0)"	LOC = "AH31" | IOSTANDARD = LVCMOS33;

### PLX PCI 9054 Bus Master I/O Accelerator Chip PCI v2.2 compliant

# Address/data bus

NET "LAD(31)"	LOC = "AH12" | IOSTANDARD = LVCMOS33;
NET "LAD(30)"	LOC = "AG11" | IOSTANDARD = LVCMOS33;
NET "LAD(29)"	LOC = "AG12" | IOSTANDARD = LVCMOS33;
NET "LAD(28)"	LOC = "AD12" | IOSTANDARD = LVCMOS33;
NET "LAD(27)"	LOC = "AE11" | IOSTANDARD = LVCMOS33;
NET "LAD(26)"	LOC = "AE10" | IOSTANDARD = LVCMOS33;
NET "LAD(25)"	LOC = "AF12" | IOSTANDARD = LVCMOS33;
NET "LAD(24)"	LOC = "AC12" | IOSTANDARD = LVCMOS33;
NET "LAD(23)"	LOC = "AD11" | IOSTANDARD = LVCMOS33;
NET "LAD(22)"	LOC = "AF11" | IOSTANDARD = LVCMOS33;
NET "LAD(21)"	LOC = "AB12" | IOSTANDARD = LVCMOS33;
NET "LAD(20)"	LOC = "AE9" | IOSTANDARD = LVCMOS33;
NET "LAD(19)"	LOC = "AF9" | IOSTANDARD = LVCMOS33;
NET "LAD(18)"	LOC = "AC11" | IOSTANDARD = LVCMOS33;
NET "LAD(17)"	LOC = "AB13" | IOSTANDARD = LVCMOS33;
NET "LAD(16)"	LOC = "AE8" | IOSTANDARD = LVCMOS33;
NET "LAD(15)"	LOC = "AJ12" | IOSTANDARD = LVCMOS33;
NET "LAD(14)"	LOC = "AK10" | IOSTANDARD = LVCMOS33;
NET "LAD(13)"	LOC = "AL10" | IOSTANDARD = LVCMOS33;
NET "LAD(12)"	LOC = "AL8" | IOSTANDARD = LVCMOS33;
NET "LAD(11)"	LOC = "AG10" | IOSTANDARD = LVCMOS33;
NET "LAD(10)"	LOC = "AK9" | IOSTANDARD = LVCMOS33;
NET "LAD(9)"	LOC = "AL7" | IOSTANDARD = LVCMOS33;
NET "LAD(8)"	LOC = "AK7" | IOSTANDARD = LVCMOS33;
NET "LAD(7)"	LOC = "AL6" | IOSTANDARD = LVCMOS33;
NET "LAD(6)"	LOC = "AL9" | IOSTANDARD = LVCMOS33;
NET "LAD(5)"	LOC = "AJ9" | IOSTANDARD = LVCMOS33;
NET "LAD(4)"	LOC = "AK6" | IOSTANDARD = LVCMOS33;
NET "LAD(3)"	LOC = "AJ10" | IOSTANDARD = LVCMOS33;
NET "LAD(2)"	LOC = "AH8" | IOSTANDARD = LVCMOS33;
NET "LAD(1)"	LOC = "AH9" | IOSTANDARD = LVCMOS33;
NET "LAD(0)"	LOC = "AG9" | IOSTANDARD = LVCMOS33;

# Controls signals

NET "LBE(3)"	LOC = "AC13" | IOSTANDARD = LVCMOS33;
NET "LBE(2)"	LOC = "AE12" | IOSTANDARD = LVCMOS33;
NET "LBE(1)"	LOC = "AF13" | IOSTANDARD = LVCMOS33;
NET "LBE(0)"	LOC = "AD13" | IOSTANDARD = LVCMOS33;
NET "ALE"	LOC = "AJ11" | IOSTANDARD = LVCMOS33;
NET "DP(3)"	LOC = "AB10" | IOSTANDARD = LVCMOS33;
NET "DP(2)"	LOC = "AH11" | IOSTANDARD = LVCMOS33;
NET "DP(1)"	LOC = "AL5" | IOSTANDARD = LVCMOS33;
NET "DP(0)"	LOC = "AB11" | IOSTANDARD = LVCMOS33;
NET "DEN"	LOC = "AL11" | IOSTANDARD = LVCMOS33;
NET "DTR"	LOC = "AK12" | IOSTANDARD = LVCMOS33;
NET "CCS"	LOC = "AG8" | IOSTANDARD = LVCMOS33;
NET "LHOLDA"	LOC = "AA10" | IOSTANDARD = LVCMOS33;
NET "BREQI"	LOC = "AH7" | IOSTANDARD = LVCMOS33;
NET "LFRAME"	LOC = "AC10" | IOSTANDARD = LVCMOS33;
NET "ADS"	LOC = "AA9" | IOSTANDARD = LVCMOS33;
NET "BLAST"	LOC = "Y10" | IOSTANDARD = LVCMOS33;
NET "LWR"	LOC = "AG13" | IOSTANDARD = LVCMOS33;
NET "READY"	LOC = "AL4" | IOSTANDARD = LVCMOS33;
NET "WAITIO"	LOC = "AD7" | IOSTANDARD = LVCMOS33;
NET "LHOLD"	LOC = "AB9" | IOSTANDARD = LVCMOS33;
NET "LINT"	LOC = "AB8" | IOSTANDARD = LVCMOS33;
NET "LRESET"	LOC = "AA8" | IOSTANDARD = LVCMOS33;
NET "USERI"	LOC = "AF8" | IOSTANDARD = LVCMOS33;
NET "LSERR"	LOC = "AJ6" | IOSTANDARD = LVCMOS33;
NET "EOT"	LOC = "AH6" | IOSTANDARD = LVCMOS33;
NET "BIGEND"	LOC = "AD6" | IOSTANDARD = LVCMOS33;
NET "USERO"	LOC = "AC7" | IOSTANDARD = LVCMOS33;
NET "BTERM"	LOC = "AJ8" | IOSTANDARD = LVCMOS33;
NET "BREQO"	LOC = "AC8" | IOSTANDARD = LVCMOS33;
NET "L_ONOFF"	LOC = "AK11" | IOSTANDARD = LVCMOS33;

### CAM memory

# Data bus

NET "CD(67)"	LOC="R6" | IOSTANDARD = LVCMOS33;
NET "CD(66)"	LOC="T5" | IOSTANDARD = LVCMOS33;
NET "CD(65)"	LOC="R5" | IOSTANDARD = LVCMOS33;
NET "CD(64)"	LOC="R3" | IOSTANDARD = LVCMOS33;
NET "CD(63)"	LOC="T8" | IOSTANDARD = LVCMOS33;
NET "CD(62)"	LOC="R2" | IOSTANDARD = LVCMOS33;
NET "CD(61)"	LOC="T9" | IOSTANDARD = LVCMOS33;
NET "CD(60)"	LOC="P2" | IOSTANDARD = LVCMOS33;
NET "CD(59)"	LOC="R7" | IOSTANDARD = LVCMOS33;
NET "CD(58)"	LOC="N4" | IOSTANDARD = LVCMOS33;
NET "CD(57)"	LOC="P4" | IOSTANDARD = LVCMOS33;
NET "CD(56)"	LOC="P5" | IOSTANDARD = LVCMOS33;
NET "CD(55)"	LOC="R9" | IOSTANDARD = LVCMOS33;
NET "CD(54)"	LOC="P6" | IOSTANDARD = LVCMOS33;
NET "CD(53)"	LOC="R8" | IOSTANDARD = LVCMOS33;
NET "CD(52)"	LOC="N5" | IOSTANDARD = LVCMOS33;
NET "CD(51)"	LOC="N8" | IOSTANDARD = LVCMOS33;
NET "CD(50)"	LOC="N3" | IOSTANDARD = LVCMOS33;
NET "CD(49)"	LOC="P7" | IOSTANDARD = LVCMOS33;
NET "CD(48)"	LOC="N1" | IOSTANDARD = LVCMOS33;
NET "CD(47)"	LOC="P9" | IOSTANDARD = LVCMOS33;
NET "CD(46)"	LOC="N2" | IOSTANDARD = LVCMOS33;
NET "CD(45)"	LOC="M8" | IOSTANDARD = LVCMOS33;
NET "CD(44)"	LOC="M3" | IOSTANDARD = LVCMOS33;
NET "CD(43)"	LOC="M6" | IOSTANDARD = LVCMOS33;
NET "CD(42)"	LOC="M1" | IOSTANDARD = LVCMOS33;
NET "CD(41)"	LOC="M5" | IOSTANDARD = LVCMOS33;
NET "CD(40)"	LOC="M2" | IOSTANDARD = LVCMOS33;
NET "CD(39)"	LOC="M9" | IOSTANDARD = LVCMOS33;
NET "CD(38)"	LOC="N6" | IOSTANDARD = LVCMOS33;
NET "CD(37)"	LOC="M7" | IOSTANDARD = LVCMOS33;
NET "CD(36)"	LOC="M4" | IOSTANDARD = LVCMOS33;
NET "CD(35)"	LOC="L8" | IOSTANDARD = LVCMOS33;
NET "CD(34)"	LOC="N9" | IOSTANDARD = LVCMOS33;
NET "CD(33)"	LOC="L9" | IOSTANDARD = LVCMOS33;
NET "CD(32)"	LOC="P10" | IOSTANDARD = LVCMOS33;
NET "CD(31)"	LOC="K7" | IOSTANDARD = LVCMOS33;
NET "CD(30)"	LOC="N10" | IOSTANDARD = LVCMOS33;
NET "CD(29)"	LOC="L7" | IOSTANDARD = LVCMOS33;
NET "CD(28)"	LOC="L6" | IOSTANDARD = LVCMOS33;
NET "CD(27)"	LOC="J7" | IOSTANDARD = LVCMOS33;
NET "CD(26)"	LOC="L5" | IOSTANDARD = LVCMOS33;
NET "CD(25)"	LOC="L10" | IOSTANDARD = LVCMOS33;
NET "CD(24)"	LOC="L3" | IOSTANDARD = LVCMOS33;
NET "CD(23)"	LOC="M10" | IOSTANDARD = LVCMOS33;
NET "CD(22)"	LOC="L1" | IOSTANDARD = LVCMOS33;
NET "CD(21)"	LOC="J6" | IOSTANDARD = LVCMOS33;
NET "CD(20)"	LOC="L4" | IOSTANDARD = LVCMOS33;
NET "CD(19)"	LOC="K9" | IOSTANDARD = LVCMOS33;
NET "CD(18)"	LOC="K1" | IOSTANDARD = LVCMOS33;
NET "CD(17)"	LOC="J8" | IOSTANDARD = LVCMOS33;
NET "CD(16)"	LOC="L2" | IOSTANDARD = LVCMOS33;
NET "CD(15)"	LOC="H7" | IOSTANDARD = LVCMOS33;
NET "CD(14)"	LOC="K8" | IOSTANDARD = LVCMOS33;
NET "CD(13)"	LOC="J5" | IOSTANDARD = LVCMOS33;
NET "CD(12)"	LOC="K2" | IOSTANDARD = LVCMOS33;
NET "CD(11)"	LOC="J4" | IOSTANDARD = LVCMOS33;
NET "CD(10)"	LOC="J1" | IOSTANDARD = LVCMOS33;
NET "CD(9)"	LOC="K10" | IOSTANDARD = LVCMOS33;
NET "CD(8)"	LOC="J2" | IOSTANDARD = LVCMOS33;
NET "CD(7)"	LOC="G4" | IOSTANDARD = LVCMOS33;
NET "CD(6)"	LOC="K3" | IOSTANDARD = LVCMOS33;
NET "CD(5)"	LOC="H4" | IOSTANDARD = LVCMOS33;
NET "CD(4)"	LOC="J3" | IOSTANDARD = LVCMOS33;
NET "CD(3)"	LOC="F3" | IOSTANDARD = LVCMOS33;
NET "CD(2)"	LOC="H1" | IOSTANDARD = LVCMOS33;
NET "CD(1)"	LOC="H3" | IOSTANDARD = LVCMOS33;
NET "CD(0)"	LOC="K5" | IOSTANDARD = LVCMOS33;

# Controls signals

NET "COP(8)"	LOC = "G1" | IOSTANDARD = LVCMOS33;
NET "COP(7)"	LOC = "F1" | IOSTANDARD = LVCMOS33;
NET "COP(6)"	LOC = "E3" | IOSTANDARD = LVCMOS33;
NET "COP(5)"	LOC = "E1" | IOSTANDARD = LVCMOS33;
NET "COP(4)"	LOC = "D3" | IOSTANDARD = LVCMOS33;
NET "COP(3)"	LOC = "F4" | IOSTANDARD = LVCMOS33;
NET "COP(2)"	LOC = "F5" | IOSTANDARD = LVCMOS33;
NET "COP(1)"	LOC = "E2" | IOSTANDARD = LVCMOS33;
NET "COP(0)"	LOC = "E4" | IOSTANDARD = LVCMOS33;
NET "COPV"	LOC = "D1" | IOSTANDARD = LVCMOS33;
NET "CACK"	LOC = "U7" | IOSTANDARD = LVCMOS33;
NET "CEOT"	LOC = "U6" | IOSTANDARD = LVCMOS33;
NET "CMF"	LOC = "G5" | IOSTANDARD = LVCMOS33;
NET "CMM"	LOC = "G2" | IOSTANDARD = LVCMOS33;
NET "CMV"	LOC = "F2" | IOSTANDARD = LVCMOS33;
NET "CFF"	LOC = "U8" | IOSTANDARD = LVCMOS33;
NET "CPHASE"	LOC = "D2" | IOSTANDARD = LVCMOS33;
NET "CRST"	LOC = "P1" | IOSTANDARD = LVCMOS33;
NET "CSEN(3)"	LOC = "T6" | IOSTANDARD = LVCMOS33;
NET "CSEN(2)"	LOC = "R1" | IOSTANDARD = LVCMOS33;
NET "CSEN(1)"	LOC = "T3" | IOSTANDARD = LVCMOS33;
NET "CSEN(0)"	LOC = "R4" | IOSTANDARD = LVCMOS33;
NET "CMCLK"	LOC = "H5" | IOSTANDARD = LVCMOS33;

### SRAM memory 0, 36 bit data bus

# Data bus (pins 35:0 may be shifted over)

NET "S0D(*)"	LOC = "AA2", "AB1", "Y2", "Y1",
		      "W2", "W1", "V2", "V1",
		      "AA1", "U2", "U1", "W3",
		      "V4", "U3", "U4", "U5",
		      "W4", "Y3", "V7", "V6",
		      "V5", "V10", "V9", "W6",
		      "W5", "W9", "U9", "W10",
		      "Y5", "AA5", "Y6", "Y7",
		      "AA6", "Y8", "W8", "AA7"
		      | IOSTANDARD = LVCMOS33;

# Address bus (pins 18:0 may be shifted over, except for pins 1:0)

NET "S0A(*)"	LOC = "AH1", "AH2", "AB7", "AC6",
		      "AH3", "AG4", "AA3", "Y4",
		      "AF2", "AE2", "AE1", "AD3",
		      "AD1", "AC2", "AC1", "AB2",
		      "AF1", "AG2", "AG1"
		      | IOSTANDARD = LVCMOS33;
NET "S0A(1)"	LOC = "AG2" | IOSTANDARD = LVCMOS33;
NET "S0A(0)"	LOC = "AG1" | IOSTANDARD = LVCMOS33;

# Controls signals

NET "S0ADSP"	LOC = "AB3" | IOSTANDARD = LVCMOS33;
NET "S0ADSC"	LOC = "AB5" | IOSTANDARD = LVCMOS33;
NET "S0ADV"	LOC = "AA4" | IOSTANDARD = LVCMOS33;
NET "S0CS1"	LOC = "AG3" | IOSTANDARD = LVCMOS33;
NET "S0CS2"	LOC = "AD5" | IOSTANDARD = LVCMOS33;
NET "S0GW"	LOC = "AD4" | IOSTANDARD = LVCMOS33;
NET "S0BW"	LOC = "AC4" | IOSTANDARD = LVCMOS33;
NET "S0WE(3)"	LOC = "AF4" | IOSTANDARD = LVCMOS33;
NET "S0WE(2)"	LOC = "AF3" | IOSTANDARD = LVCMOS33;
NET "S0WE(1)"	LOC = "AE4" | IOSTANDARD = LVCMOS33;
NET "S0WE(0)"	LOC = "AE5" | IOSTANDARD = LVCMOS33;
NET "S0OE"	LOC = "AC3" | IOSTANDARD = LVCMOS33;
NET "S0MODE"	LOC = "Y9" | IOSTANDARD = LVCMOS33;
NET "SCLK0"	LOC = "AC5" | IOSTANDARD = LVCMOS33;

### SRAM memory 1, 32 bit data bus

# Data bus (pins 31:0 may be shifted over)

NET "S1D(*)"	LOC = "AA24", "AC26", "AA23", "AC25",
		      "AB25", "AB24", "AC24", "AD25",
		      "AF27", "AG29", "AF28", "AG28",
		      "AH29", "AG30", "AG31", "AH30",
		      "AG23", "AF21", "AE22", "AE23",
		      "AE21", "AC20", "AB19", "AB20",
		      "AD22", "AD21", "AC22", "AC21",
		      "AB21", "AB23", "AB22", "AA22"
		      | IOSTANDARD = LVCMOS33;

# Address bus (pins 18:0 may be shifted over, except for pins 1:0)

NET "S1A(*)"	LOC = "AD19", "AD20", "AG21", "AG22",
		      "AL21", "AL22", "AK27", "AL28",
		      "AJ23", "AJ24", "AH24", "AJ26",
		      "AJ27", "AH25", "AG25", "AH26",
		      "AH23", "AJ22", "AJ21"
		      | IOSTANDARD = LVCMOS33;
NET "S1A(1)"	LOC = "AJ22" | IOSTANDARD = LVCMOS33;
NET "S1A(0)"	LOC = "AJ21" | IOSTANDARD = LVCMOS33;

# Controls signals

NET "S1ADSP"	LOC = "AK26" | IOSTANDARD = LVCMOS33;
NET "S1ADSC"	LOC = "AL26" | IOSTANDARD = LVCMOS33;
NET "S1ADV"	LOC = "AL27" | IOSTANDARD = LVCMOS33;
NET "S1CS1"	LOC = "AK22" | IOSTANDARD = LVCMOS33;
NET "S1CS2"	LOC = "AL23" | IOSTANDARD = LVCMOS33;
NET "S1GW"	LOC = "AL24" | IOSTANDARD = LVCMOS33;
NET "S1BW"	LOC = "AL25" | IOSTANDARD = LVCMOS33;
NET "S1WE(3)"	LOC = "AG20" | IOSTANDARD = LVCMOS33;
NET "S1WE(2)"	LOC = "AH21" | IOSTANDARD = LVCMOS33;
NET "S1WE(1)"	LOC = "AF20" | IOSTANDARD = LVCMOS33;
NET "S1WE(0)"	LOC = "AE20" | IOSTANDARD = LVCMOS33;
NET "S1OE"	LOC = "AK25" | IOSTANDARD = LVCMOS33;
NET "S1MODE"	LOC = "Y22" | IOSTANDARD = LVCMOS33;
NET "SCLK1"	LOC = "AK23" | IOSTANDARD = LVCMOS33;

### SRAM memory 2, 32 bit data bus

# Data bus (pins 31:0 may be shifted over)

NET "S2D(*)"	LOC = "AB27", "AC29", "AA27", "AB29",
		      "AA28", "AA29", "Y28", "Y29",
		      "W27", "W29", "W28", "V28",
		      "U29", "U28", "U30", "U31",
		      "AF29", "AE28", "AD27", "AD28",
		      "AD26", "AC28", "AC27", "AD29",
		      "AA25", "Y24", "Y23", "AA26",
		      "Y25", "W24", "Y26", "Y27"
		      | IOSTANDARD = LVCMOS33;

# Address bus (pins 18:0 may be shifted over, except for pins 1:0)

NET "S2A(*)"	LOC = "V25", "V26", "V23", "W22",
		      "AF31", "AF30", "V30", "V31",
		      "W26", "U26", "V27", "U24",
		      "T26", "U27", "T24", "T23",
		      "U23", "V22", "U25"
		      | IOSTANDARD = LVCMOS33;
NET "S2A(1)"	LOC = "V22" | IOSTANDARD = LVCMOS33;
NET "S2A(0)"	LOC = "U25" | IOSTANDARD = LVCMOS33;

# Controls signals

NET "S2ADSP"	LOC = "W30" | IOSTANDARD = LVCMOS33;
NET "S2ADSC"	LOC = "Y31" | IOSTANDARD = LVCMOS33;
NET "S2ADV"	LOC = "W31" | IOSTANDARD = LVCMOS33;
NET "S2CS1"	LOC = "AE31" | IOSTANDARD = LVCMOS33;
NET "S2CS2"	LOC = "AB30" | IOSTANDARD = LVCMOS33;
NET "S2GW"	LOC = "AA30" | IOSTANDARD = LVCMOS33;
NET "S2BW"	LOC = "AA31" | IOSTANDARD = LVCMOS33;
NET "S2WE(3)"	LOC = "AE30" | IOSTANDARD = LVCMOS33;
NET "S2WE(2)"	LOC = "AD31" | IOSTANDARD = LVCMOS33;
NET "S2WE(1)"	LOC = "AC30" | IOSTANDARD = LVCMOS33;
NET "S2WE(0)"	LOC = "AC31" | IOSTANDARD = LVCMOS33;
NET "S2OE"	LOC = "Y30" | IOSTANDARD = LVCMOS33;
NET "S2MODE"	LOC = "W23" | IOSTANDARD = LVCMOS33;
NET "SCLK2"	LOC = "AB31" | IOSTANDARD = LVCMOS33;

### DDR SDRAM memory

# Data bus (pins may be shifted over in 8 bit groups)

NET "DD(63)"	LOC = "B23", "A23", "E23", "A26",
		      "E22", "C23", "B25", "G21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(62)"	LOC = "B23", "A23", "E23", "A26",
		      "E22", "C23", "B25", "G21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(61)"	LOC = "B23", "A23", "E23", "A26",
		      "E22", "C23", "B25", "G21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(60)"	LOC = "B23", "A23", "E23", "A26",
		      "E22", "C23", "B25", "G21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(59)"	LOC = "B23", "A23", "E23", "A26",
		      "E22", "C23", "B25", "G21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(58)"	LOC = "B23", "A23", "E23", "A26",
		      "E22", "C23", "B25", "G21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(57)"	LOC = "B23", "A23", "E23", "A26",
		      "E22", "C23", "B25", "G21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(56)"	LOC = "B23", "A23", "E23", "A26",
		      "E22", "C23", "B25", "G21"
		      | IOSTANDARD = SSTL2_II;

NET "DD(55)"	LOC = "A21", "A22", "E21", "C22",
		      "B22", "D21", "H20", "F21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(54)"	LOC = "A21", "A22", "E21", "C22",
		      "B22", "D21", "H20", "F21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(53)"	LOC = "A21", "A22", "E21", "C22",
		      "B22", "D21", "H20", "F21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(52)"	LOC = "A21", "A22", "E21", "C22",
		      "B22", "D21", "H20", "F21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(51)"	LOC = "A21", "A22", "E21", "C22",
		      "B22", "D21", "H20", "F21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(50)"	LOC = "A21", "A22", "E21", "C22",
		      "B22", "D21", "H20", "F21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(49)"	LOC = "A21", "A22", "E21", "C22",
		      "B22", "D21", "H20", "F21"
		      | IOSTANDARD = SSTL2_II;
NET "DD(48)"	LOC = "A21", "A22", "E21", "C22",
		      "B22", "D21", "H20", "F21"
		      | IOSTANDARD = SSTL2_II;

NET "DD(47)"	LOC = "D18", "B19", "J19", "E19",
		      "G18", "D19", "H19", "F19"
		      | IOSTANDARD = SSTL2_II;
NET "DD(46)"	LOC = "D18", "B19", "J19", "E19",
		      "G18", "D19", "H19", "F19"
		      | IOSTANDARD = SSTL2_II;
NET "DD(45)"	LOC = "D18", "B19", "J19", "E19",
		      "G18", "D19", "H19", "F19"
		      | IOSTANDARD = SSTL2_II;
NET "DD(44)"	LOC = "D18", "B19", "J19", "E19",
		      "G18", "D19", "H19", "F19"
		      | IOSTANDARD = SSTL2_II;
NET "DD(43)"	LOC = "D18", "B19", "J19", "E19",
		      "G18", "D19", "H19", "F19"
		      | IOSTANDARD = SSTL2_II;
NET "DD(42)"	LOC = "D18", "B19", "J19", "E19",
		      "G18", "D19", "H19", "F19"
		      | IOSTANDARD = SSTL2_II;
NET "DD(41)"	LOC = "D18", "B19", "J19", "E19",
		      "G18", "D19", "H19", "F19"
		      | IOSTANDARD = SSTL2_II;
NET "DD(40)"	LOC = "D18", "B19", "J19", "E19",
		      "G18", "D19", "H19", "F19"
		      | IOSTANDARD = SSTL2_II;

# C15 = GCLK
NET "DD(39)"	LOC = "B15", "A15", "B18", "C17",
		      "D15", "C15", "G17", "F17"
		      | IOSTANDARD = SSTL2_II;
NET "DD(38)"	LOC = "B15", "A15", "B18", "C17",
		      "D15", "C15", "G17", "F17"
		      | IOSTANDARD = SSTL2_II;
NET "DD(37)"	LOC = "B15", "A15", "B18", "C17",
		      "D15", "C15", "G17", "F17"
		      | IOSTANDARD = SSTL2_II;
NET "DD(36)"	LOC = "B15", "A15", "B18", "C17",
		      "D15", "C15", "G17", "F17"
		      | IOSTANDARD = SSTL2_II;
NET "DD(35)"	LOC = "B15", "A15", "B18", "C17",
		      "D15", "C15", "G17", "F17"
		      | IOSTANDARD = SSTL2_II;
NET "DD(34)"	LOC = "B15", "A15", "B18", "C17",
		      "D15", "C15", "G17", "F17"
		      | IOSTANDARD = SSTL2_II;
NET "DD(33)"	LOC = "B15", "A15", "B18", "C17",
		      "D15", "C15", "G17", "F17"
		      | IOSTANDARD = SSTL2_II;
NET "DD(32)"	LOC = "B15", "A15", "B18", "C17",
		      "D15", "C15", "G17", "F17"
		      | IOSTANDARD = SSTL2_II;

NET "DD(31)"	LOC = "B11", "C12", "E12", "B12",
		      "D11", "D12", "C13", "B13"
		      | IOSTANDARD = SSTL2_II;
NET "DD(30)"	LOC = "B11", "C12", "E12", "B12",
		      "D11", "D12", "C13", "B13"
		      | IOSTANDARD = SSTL2_II;
NET "DD(29)"	LOC = "B11", "C12", "E12", "B12",
		      "D11", "D12", "C13", "B13"
		      | IOSTANDARD = SSTL2_II;
NET "DD(28)"	LOC = "B11", "C12", "E12", "B12",
		      "D11", "D12", "C13", "B13"
		      | IOSTANDARD = SSTL2_II;
NET "DD(27)"	LOC = "B11", "C12", "E12", "B12",
		      "D11", "D12", "C13", "B13"
		      | IOSTANDARD = SSTL2_II;
NET "DD(26)"	LOC = "B11", "C12", "E12", "B12",
		      "D11", "D12", "C13", "B13"
		      | IOSTANDARD = SSTL2_II;
NET "DD(25)"	LOC = "B11", "C12", "E12", "B12",
		      "D11", "D12", "C13", "B13"
		      | IOSTANDARD = SSTL2_II;
NET "DD(24)"	LOC = "B11", "C12", "E12", "B12",
		      "D11", "D12", "C13", "B13"
		      | IOSTANDARD = SSTL2_II;

NET "DD(23)"	LOC = "E9", "J11", "A9", "G11",
		      "C8", "E10", "F11", "B10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(22)"	LOC = "E9", "J11", "A9", "G11",
		      "C8", "E10", "F11", "B10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(21)"	LOC = "E9", "J11", "A9", "G11",
		      "C8", "E10", "F11", "B10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(20)"	LOC = "E9", "J11", "A9", "G11",
		      "C8", "E10", "F11", "B10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(19)"	LOC = "E9", "J11", "A9", "G11",
		      "C8", "E10", "F11", "B10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(18)"	LOC = "E9", "J11", "A9", "G11",
		      "C8", "E10", "F11", "B10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(17)"	LOC = "E9", "J11", "A9", "G11",
		      "C8", "E10", "F11", "B10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(16)"	LOC = "E9", "J11", "A9", "G11",
		      "C8", "E10", "F11", "B10"
		      | IOSTANDARD = SSTL2_II;

NET "DD(15)"	LOC = "C6", "D7", "F9", "D8",
		      "B6", "B7", "G10", "H10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(14)"	LOC = "C6", "D7", "F9", "D8",
		      "B6", "B7", "G10", "H10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(13)"	LOC = "C6", "D7", "F9", "D8",
		      "B6", "B7", "G10", "H10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(12)"	LOC = "C6", "D7", "F9", "D8",
		      "B6", "B7", "G10", "H10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(11)"	LOC = "C6", "D7", "F9", "D8",
		      "B6", "B7", "G10", "H10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(10)"	LOC = "C6", "D7", "F9", "D8",
		      "B6", "B7", "G10", "H10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(9)"	LOC = "C6", "D7", "F9", "D8",
		      "B6", "B7", "G10", "H10"
		      | IOSTANDARD = SSTL2_II;
NET "DD(8)"	LOC = "C6", "D7", "F9", "D8",
		      "B6", "B7", "G10", "H10"
		      | IOSTANDARD = SSTL2_II;

NET "DD(7)"	LOC = "B3", "D6", "G8", "G9",
		      "A4", "B5", "H9", "F8"
		      | IOSTANDARD = SSTL2_II;
NET "DD(6)"	LOC = "B3", "D6", "G8", "G9",
		      "A4", "B5", "H9", "F8"
		      | IOSTANDARD = SSTL2_II;
NET "DD(5)"	LOC = "B3", "D6", "G8", "G9",
		      "A4", "B5", "H9", "F8"
		      | IOSTANDARD = SSTL2_II;
NET "DD(4)"	LOC = "B3", "D6", "G8", "G9",
		      "A4", "B5", "H9", "F8"
		      | IOSTANDARD = SSTL2_II;
NET "DD(3)"	LOC = "B3", "D6", "G8", "G9",
		      "A4", "B5", "H9", "F8"
		      | IOSTANDARD = SSTL2_II;
NET "DD(2)"	LOC = "B3", "D6", "G8", "G9",
		      "A4", "B5", "H9", "F8"
		      | IOSTANDARD = SSTL2_II;
NET "DD(1)"	LOC = "B3", "D6", "G8", "G9",
		      "A4", "B5", "H9", "F8"
		      | IOSTANDARD = SSTL2_II;
NET "DD(0)"	LOC = "B3", "D6", "G8", "G9",
		      "A4", "B5", "H9", "F8"
		      | IOSTANDARD = SSTL2_II;

# Data check bits signals (pins may be shifted over agreeably to DD)

NET "DCB(7)"	LOC = "F15" | IOSTANDARD = SSTL2_II;
NET "DCB(6)"	LOC = "H15" | IOSTANDARD = SSTL2_II; # GCLK
NET "DCB(5)"	LOC = "F13" | IOSTANDARD = SSTL2_II;
NET "DCB(4)"	LOC = "A13" | IOSTANDARD = SSTL2_II;
NET "DCB(3)"	LOC = "G15" | IOSTANDARD = SSTL2_II;
NET "DCB(2)"	LOC = "G14" | IOSTANDARD = SSTL2_II;
NET "DCB(1)"	LOC = "D13" | IOSTANDARD = SSTL2_II;
NET "DCB(0)"	LOC = "E13" | IOSTANDARD = SSTL2_II;

# Data strobe signals (pins may be shifted over agreeably to DD)

NET "DQS(17)"	LOC = "F14" | IOSTANDARD = SSTL2_II;
NET "DQS(16)"	LOC = "A24" | IOSTANDARD = SSTL2_II;
NET "DQS(15)"	LOC = "E20" | IOSTANDARD = SSTL2_II;
NET "DQS(14)"	LOC = "D20" | IOSTANDARD = SSTL2_II;
NET "DQS(13)"	LOC = "F16" | IOSTANDARD = SSTL2_II;
NET "DQS(12)"	LOC = "G12" | IOSTANDARD = SSTL2_II;
NET "DQS(11)"	LOC = "B9" | IOSTANDARD = SSTL2_II;
NET "DQS(10)"	LOC = "A7" | IOSTANDARD = SSTL2_II;
NET "DQS(9)"	LOC = "F7" | IOSTANDARD = SSTL2_II;
NET "DQS(8)"	LOC = "J15" | IOSTANDARD = SSTL2_II;
NET "DQS(7)"	LOC = "H21" | IOSTANDARD = SSTL2_II;
NET "DQS(6)"	LOC = "G20" | IOSTANDARD = SSTL2_II;
NET "DQS(5)"	LOC = "C20" | IOSTANDARD = SSTL2_II;
NET "DQS(4)"	LOC = "H17" | IOSTANDARD = SSTL2_II;
NET "DQS(3)"	LOC = "H12" | IOSTANDARD = SSTL2_II;
NET "DQS(2)"	LOC = "K12" | IOSTANDARD = SSTL2_II;
NET "DQS(1)"	LOC = "A6" | IOSTANDARD = SSTL2_II;
NET "DQS(0)"	LOC = "C5" | IOSTANDARD = SSTL2_II;

# Address bus (pins must not be shifted over - used for commands)

NET "DA(13)"	LOC = "C21" | IOSTANDARD = SSTL2_II;
NET "DA(12)"	LOC = "C9" | IOSTANDARD = SSTL2_II;
NET "DA(11)"	LOC = "J12" | IOSTANDARD = SSTL2_II;
NET "DA(10)"	LOC = "D14" | IOSTANDARD = SSTL2_II;
NET "DA(9)"	LOC = "A8" | IOSTANDARD = SSTL2_II;
NET "DA(8)"	LOC = "C11" | IOSTANDARD = SSTL2_II;
NET "DA(7)"	LOC = "C10" | IOSTANDARD = SSTL2_II;
NET "DA(6)"	LOC = "A11" | IOSTANDARD = SSTL2_II;
NET "DA(5)"	LOC = "A10" | IOSTANDARD = SSTL2_II;
NET "DA(4)"	LOC = "E11" | IOSTANDARD = SSTL2_II;
NET "DA(3)"	LOC = "F12" | IOSTANDARD = SSTL2_II;
NET "DA(2)"	LOC = "A12" | IOSTANDARD = SSTL2_II;
NET "DA(1)"	LOC = "K14" | IOSTANDARD = SSTL2_II;
NET "DA(0)"	LOC = "A17" | IOSTANDARD = SSTL2_II; # GCLK

# Controls signals

NET "DBA(2)"	LOC = "H11" | IOSTANDARD = SSTL2_II;
NET "DBA(1)"	LOC = "E15" | IOSTANDARD = SSTL2_II;
NET "DBA(0)"	LOC = "J18" | IOSTANDARD = SSTL2_II;
NET "DCS(3)"	LOC = "J20" | IOSTANDARD = SSTL2_II;
NET "DCS(2)"	LOC = "B21" | IOSTANDARD = SSTL2_II;
NET "DCS(1)"	LOC = "A20" | IOSTANDARD = SSTL2_II;
NET "DCS(0)"	LOC = "A19" | IOSTANDARD = SSTL2_II;
NET "DCLKE(1)"	LOC = "J14" | IOSTANDARD = SSTL2_II;
NET "DCLKE(0)"	LOC = "J13" | IOSTANDARD = SSTL2_II;
NET "DCAS"	LOC = "B20" | IOSTANDARD = SSTL2_II;
NET "DRAS"	LOC = "E18" | IOSTANDARD = SSTL2_II;
NET "DWE"	LOC = "C19" | IOSTANDARD = SSTL2_II;

# Clock signals

NET "DCLK"	LOC = "J16" | IOSTANDARD = SSTL2_II;
NET "NDCLK"	LOC = "B17" | IOSTANDARD = SSTL2_II;

### Input/ouput signals, SSTL2_II interface

NET "IOS(103)"	LOC = "R25" | IOSTANDARD = SSTL2_II;
NET "IOS(102)"	LOC = "R26" | IOSTANDARD = SSTL2_II;
NET "IOS(101)"	LOC = "T27" | IOSTANDARD = SSTL2_II;
NET "IOS(100)"	LOC = "R29" | IOSTANDARD = SSTL2_II;
NET "IOS(99)"	LOC = "T29" | IOSTANDARD = SSTL2_II;
NET "IOS(98)"	LOC = "R30" | IOSTANDARD = SSTL2_II;
NET "IOS(97)"	LOC = "P25" | IOSTANDARD = SSTL2_II;
NET "IOS(96)"	LOC = "P28" | IOSTANDARD = SSTL2_II;
NET "IOS(95)"	LOC = "R28" | IOSTANDARD = SSTL2_II;
NET "IOS(94)"	LOC = "P31" | IOSTANDARD = SSTL2_II;
NET "IOS(93)"	LOC = "P26" | IOSTANDARD = SSTL2_II;
NET "IOS(92)"	LOC = "P27" | IOSTANDARD = SSTL2_II;
NET "IOS(91)"	LOC = "R27" | IOSTANDARD = SSTL2_II;
NET "IOS(90)"	LOC = "P30" | IOSTANDARD = SSTL2_II;
NET "IOS(89)"	LOC = "P23" | IOSTANDARD = SSTL2_II;
NET "IOS(88)"	LOC = "R24" | IOSTANDARD = SSTL2_II;
NET "IOS(87)"	LOC = "N27" | IOSTANDARD = SSTL2_II;
NET "IOS(86)"	LOC = "N31" | IOSTANDARD = SSTL2_II;
NET "IOS(85)"	LOC = "P22" | IOSTANDARD = SSTL2_II;
NET "IOS(84)"	LOC = "N24" | IOSTANDARD = SSTL2_II;
NET "IOS(83)"	LOC = "N29" | IOSTANDARD = SSTL2_II;
NET "IOS(82)"	LOC = "N30" | IOSTANDARD = SSTL2_II;
NET "IOS(81)"	LOC = "N28" | IOSTANDARD = SSTL2_II;
NET "IOS(80)"	LOC = "M31" | IOSTANDARD = SSTL2_II;
NET "IOS(79)"	LOC = "M26" | IOSTANDARD = SSTL2_II;
NET "IOS(78)"	LOC = "M27" | IOSTANDARD = SSTL2_II;
NET "IOS(77)"	LOC = "L26" | IOSTANDARD = SSTL2_II;
NET "IOS(76)"	LOC = "M30" | IOSTANDARD = SSTL2_II;
NET "IOS(75)"	LOC = "N23" | IOSTANDARD = SSTL2_II;
NET "IOS(74)"	LOC = "L27" | IOSTANDARD = SSTL2_II;
NET "IOS(73)"	LOC = "N22" | IOSTANDARD = SSTL2_II;
NET "IOS(72)"	LOC = "L31" | IOSTANDARD = SSTL2_II;
NET "IOS(71)"	LOC = "L25" | IOSTANDARD = SSTL2_II;
NET "IOS(70)"	LOC = "K27" | IOSTANDARD = SSTL2_II;
NET "IOS(69)"	LOC = "M28" | IOSTANDARD = SSTL2_II;
NET "IOS(68)"	LOC = "L30" | IOSTANDARD = SSTL2_II;
NET "IOS(67)"	LOC = "M23" | IOSTANDARD = SSTL2_II;
NET "IOS(66)"	LOC = "K25" | IOSTANDARD = SSTL2_II;
NET "IOS(65)"	LOC = "M29" | IOSTANDARD = SSTL2_II;
NET "IOS(64)"	LOC = "K31" | IOSTANDARD = SSTL2_II;
NET "IOS(63)"	LOC = "M25" | IOSTANDARD = SSTL2_II;
NET "IOS(62)"	LOC = "K30" | IOSTANDARD = SSTL2_II;
NET "IOS(61)"	LOC = "K24" | IOSTANDARD = SSTL2_II;
NET "IOS(60)"	LOC = "K29" | IOSTANDARD = SSTL2_II;
NET "IOS(59)"	LOC = "L28" | IOSTANDARD = SSTL2_II;
NET "IOS(58)"	LOC = "J31" | IOSTANDARD = SSTL2_II;
NET "IOS(57)"	LOC = "L24" | IOSTANDARD = SSTL2_II;
NET "IOS(56)"	LOC = "J29" | IOSTANDARD = SSTL2_II;
NET "IOS(55)"	LOC = "L29" | IOSTANDARD = SSTL2_II;
NET "IOS(54)"	LOC = "J30" | IOSTANDARD = SSTL2_II;
NET "IOS(53)"	LOC = "K23" | IOSTANDARD = SSTL2_II;
NET "IOS(52)"	LOC = "J25" | IOSTANDARD = SSTL2_II;
NET "IOS(51)"	LOC = "J28" | IOSTANDARD = SSTL2_II;
NET "IOS(50)"	LOC = "H31" | IOSTANDARD = SSTL2_II;
NET "IOS(49)"	LOC = "L22" | IOSTANDARD = SSTL2_II;
NET "IOS(48)"	LOC = "J27" | IOSTANDARD = SSTL2_II;
NET "IOS(47)"	LOC = "H29" | IOSTANDARD = SSTL2_II;
NET "IOS(46)"	LOC = "G30" | IOSTANDARD = SSTL2_II;
NET "IOS(45)"	LOC = "H28" | IOSTANDARD = SSTL2_II;
NET "IOS(44)"	LOC = "G31" | IOSTANDARD = SSTL2_II;
NET "IOS(43)"	LOC = "J26" | IOSTANDARD = SSTL2_II;
NET "IOS(42)"	LOC = "F28" | IOSTANDARD = SSTL2_II;
NET "IOS(41)"	LOC = "F29" | IOSTANDARD = SSTL2_II;
NET "IOS(40)"	LOC = "F30" | IOSTANDARD = SSTL2_II;
NET "IOS(39)"	LOC = "G28" | IOSTANDARD = SSTL2_II;
NET "IOS(38)"	LOC = "E28" | IOSTANDARD = SSTL2_II;
NET "IOS(37)"	LOC = "E29" | IOSTANDARD = SSTL2_II;
NET "IOS(36)"	LOC = "F31" | IOSTANDARD = SSTL2_II;
NET "IOS(35)"	LOC = "G27" | IOSTANDARD = SSTL2_II;
NET "IOS(34)"	LOC = "J24" | IOSTANDARD = SSTL2_II;
NET "IOS(33)"	LOC = "D31" | IOSTANDARD = SSTL2_II;
NET "IOS(32)"	LOC = "E30" | IOSTANDARD = SSTL2_II;
NET "IOS(31)"	LOC = "K22" | IOSTANDARD = SSTL2_II;
NET "IOS(30)"	LOC = "H25" | IOSTANDARD = SSTL2_II;
NET "IOS(29)"	LOC = "D30" | IOSTANDARD = SSTL2_II;
NET "IOS(28)"	LOC = "E31" | IOSTANDARD = SSTL2_II;
NET "IOS(27)"	LOC = "D29" | IOSTANDARD = SSTL2_II;
NET "IOS(26)"	LOC = "G24" | IOSTANDARD = SSTL2_II;
NET "IOS(25)"	LOC = "K20" | IOSTANDARD = SSTL2_II;
NET "IOS(24)"	LOC = "J21" | IOSTANDARD = SSTL2_II;
NET "IOS(23)"	LOC = "G22" | IOSTANDARD = SSTL2_II;
NET "IOS(22)"	LOC = "J22" | IOSTANDARD = SSTL2_II;
NET "IOS(21)"	LOC = "K19" | IOSTANDARD = SSTL2_II;
NET "IOS(20)"	LOC = "K21" | IOSTANDARD = SSTL2_II;
NET "IOS(19)"	LOC = "H22" | IOSTANDARD = SSTL2_II;
NET "IOS(18)"	LOC = "G23" | IOSTANDARD = SSTL2_II;
NET "IOS(17)"	LOC = "F23" | IOSTANDARD = SSTL2_II;
NET "IOS(16)"	LOC = "A28" | IOSTANDARD = SSTL2_II;
NET "IOS(15)"	LOC = "D23" | IOSTANDARD = SSTL2_II;
NET "IOS(14)"	LOC = "E25" | IOSTANDARD = SSTL2_II;
NET "IOS(13)"	LOC = "C24" | IOSTANDARD = SSTL2_II;
NET "IOS(12)"	LOC = "B27" | IOSTANDARD = SSTL2_II;
NET "IOS(11)"	LOC = "E24" | IOSTANDARD = SSTL2_II;
NET "IOS(10)"	LOC = "D25" | IOSTANDARD = SSTL2_II;
NET "IOS(9)"	LOC = "A27" | IOSTANDARD = SSTL2_II;
NET "IOS(8)"	LOC = "H23" | IOSTANDARD = SSTL2_II;
NET "IOS(7)"	LOC = "E16" | IOSTANDARD = SSTL2_II; # GCLK
NET "IOS(6)"	LOC = "C26" | IOSTANDARD = SSTL2_II;
NET "IOS(5)"	LOC = "D24" | IOSTANDARD = SSTL2_II;
NET "IOS(4)"	LOC = "D26" | IOSTANDARD = SSTL2_II;
NET "IOS(3)"	LOC = "H16" | IOSTANDARD = SSTL2_II; # GCLK
NET "IOS(2)"	LOC = "C16" | IOSTANDARD = SSTL2_II; # GCLK
NET "IOS(1)"	LOC = "E17" | IOSTANDARD = SSTL2_II; # GCLK
NET "IOS(0)"	LOC = "A18" | IOSTANDARD = SSTL2_II; # GCLK

### Input/ouput signals, LVCMOS33 interface

NET "IO(51)"	LOC = "AK14" | IOSTANDARD = LVCMOS33;
NET "IO(50)"	LOC = "AL12" | IOSTANDARD = LVCMOS33;
NET "IO(49)"	LOC = "AH13" | IOSTANDARD = LVCMOS33;
NET "IO(48)"	LOC = "AF14" | IOSTANDARD = LVCMOS33;
NET "IO(47)"	LOC = "AL13" | IOSTANDARD = LVCMOS33;
NET "IO(46)"	LOC = "AK13" | IOSTANDARD = LVCMOS33;
NET "IO(45)"	LOC = "AJ13" | IOSTANDARD = LVCMOS33;
NET "IO(44)"	LOC = "AE14" | IOSTANDARD = LVCMOS33;
NET "IO(43)"	LOC = "AJ15" | IOSTANDARD = LVCMOS33; # GCLK
NET "IO(42)"	LOC = "AG14" | IOSTANDARD = LVCMOS33;
NET "IO(41)"	LOC = "AD15" | IOSTANDARD = LVCMOS33;
NET "IO(40)"	LOC = "AC16" | IOSTANDARD = LVCMOS33;
NET "IO(39)"	LOC = "AH14" | IOSTANDARD = LVCMOS33;
NET "IO(38)"	LOC = "AB14" | IOSTANDARD = LVCMOS33;
NET "IO(37)"	LOC = "AC14" | IOSTANDARD = LVCMOS33;
NET "IO(36)"	LOC = "AD17" | IOSTANDARD = LVCMOS33; # GCLK
NET "IO(35)"	LOC = "AG15" | IOSTANDARD = LVCMOS33;
NET "IO(34)"	LOC = "AF15" | IOSTANDARD = LVCMOS33;
NET "IO(33)"	LOC = "AD16" | IOSTANDARD = LVCMOS33; # GCLK
NET "IO(32)"	LOC = "AC17" | IOSTANDARD = LVCMOS33;
NET "IO(31)"	LOC = "AH15" | IOSTANDARD = LVCMOS33; # GCLK
NET "IO(30)"	LOC = "AE15" | IOSTANDARD = LVCMOS33;
NET "IO(29)"	LOC = "AC15" | IOSTANDARD = LVCMOS33;
NET "IO(28)"	LOC = "AF17" | IOSTANDARD = LVCMOS33;
NET "IO(27)"	LOC = "AE18" | IOSTANDARD = LVCMOS33;
NET "IO(26)"	LOC = "AG19" | IOSTANDARD = LVCMOS33;
NET "IO(25)"	LOC = "AC18" | IOSTANDARD = LVCMOS33;
NET "IO(24)"	LOC = "AC19" | IOSTANDARD = LVCMOS33;
NET "IO(23)"	LOC = "AE17" | IOSTANDARD = LVCMOS33;
NET "IO(22)"	LOC = "AF18" | IOSTANDARD = LVCMOS33;
NET "IO(21)"	LOC = "AF19" | IOSTANDARD = LVCMOS33;
NET "IO(20)"	LOC = "AB18" | IOSTANDARD = LVCMOS33;
NET "IO(19)"	LOC = "AK17" | IOSTANDARD = LVCMOS33;
NET "IO(18)"	LOC = "AK18" | IOSTANDARD = LVCMOS33;
NET "IO(17)"	LOC = "AL19" | IOSTANDARD = LVCMOS33;
NET "IO(16)"	LOC = "AL14" | IOSTANDARD = LVCMOS33; # GCLK
NET "IO(15)"	LOC = "AL17" | IOSTANDARD = LVCMOS33;
NET "IO(14)"	LOC = "AL18" | IOSTANDARD = LVCMOS33;
NET "IO(13)"	LOC = "AJ16" | IOSTANDARD = LVCMOS33; # GCLK
NET "IO(12)"	LOC = "AK15" | IOSTANDARD = LVCMOS33;
NET "IO(11)"	LOC = "AF16" | IOSTANDARD = LVCMOS33;
NET "IO(10)"	LOC = "AJ17" | IOSTANDARD = LVCMOS33;
NET "IO(9)"	LOC = "AG18" | IOSTANDARD = LVCMOS33;
NET "IO(8)"	LOC = "AH19" | IOSTANDARD = LVCMOS33;
NET "IO(7)"	LOC = "AG16" | IOSTANDARD = LVCMOS33;
NET "IO(6)"	LOC = "AH17" | IOSTANDARD = LVCMOS33; # GCLK
NET "IO(5)"	LOC = "AH18" | IOSTANDARD = LVCMOS33;
NET "IO(4)"	LOC = "AK19" | IOSTANDARD = LVCMOS33;
NET "IO(3)"	LOC = "AG17" | IOSTANDARD = LVCMOS33;
NET "IO(2)"	LOC = "AH20" | IOSTANDARD = LVCMOS33;
NET "IO(1)"	LOC = "AJ20" | IOSTANDARD = LVCMOS33;
NET "IO(0)"	LOC = "AJ19" | IOSTANDARD = LVCMOS33;

### #INIT signal, usable as input/output too

NET "FSINIT"	LOC = "AD10" | IOSTANDARD = LVCMOS33;

# FPGA programming

NET "SD(7)"	LOC = "AF25" | IOSTANDARD = LVCMOS33;
NET "SD(6)"	LOC = "AG24" | IOSTANDARD = LVCMOS33;
NET "SD(5)"	LOC = "AF24" | IOSTANDARD = LVCMOS33;
NET "SD(4)"	LOC = "AF23" | IOSTANDARD = LVCMOS33;
NET "SD(3)"	LOC = "AJ5" | IOSTANDARD = LVCMOS33;
NET "SD(2)"	LOC = "AK3" | IOSTANDARD = LVCMOS33;
NET "SD(1)"	LOC = "AG7" | IOSTANDARD = LVCMOS33;
NET "SD(0)"	LOC = "AF7" | IOSTANDARD = LVCMOS33;

NET "FSBUSY"	LOC = "AD9" | IOSTANDARD = LVCMOS33;
NET "FSCS"	LOC = "AK29" | IOSTANDARD = LVCMOS33;
NET "FSWR"	LOC = "AK28" | IOSTANDARD = LVCMOS33;

